HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.ideaDataSources
.fastRequest
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/speed/download/marketingcommon.properties-8a27fc0ab30c42619d26eee30f43a4b0
/speed/download/marketingcommon.properties-767062b9aa4c440980f134989a18efaf
/speed/download/marketingcommon.properties-a74fa6ee125946a4a19a76c8928705c5
/speed/download/marketingcommon.properties-acf423bd4e9c4a7ea76f997c10d73ab4
/speed/download/marketingcommon.properties-d294216bd5634ea588c7a0fb8be67733
