<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.AutoCheckResultLogMapper" >

    <!-- 查询指定时间区间（yyyy-MM-dd HH:mm:ss）的比对结果；compare_time 为 VARCHAR（yyyy-MM-dd HH:mm:ss），可按字典序做区间 -->
    <select id="selectByCodeListAndTime" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM b_auto_check_result_log
        WHERE is_deleted = 0
        <if test="apiCodeList != null and apiCodeList.size > 0">
            AND api_code IN
            <foreach collection="apiCodeList" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
        </if>
        <if test="sceneCodeList != null and sceneCodeList.size > 0">
            AND scene_code IN
            <foreach collection="sceneCodeList" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
        </if>
        <choose>
            <!-- startTime/endTime 均为 yyyy-MM-dd HH:mm:ss（包含边界） -->
            <when test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                AND compare_time <![CDATA[>=]]> #{startTime}
                AND compare_time <![CDATA[<=]]> #{endTime}
            </when>
            <when test="startTime != null and startTime != ''">
                AND compare_time <![CDATA[>=]]> #{startTime}
            </when>
            <when test="endTime != null and endTime != ''">
                AND compare_time <![CDATA[<=]]> #{endTime}
            </when>
        </choose>
        ORDER BY compare_time DESC, id DESC
    </select>

    <!-- 批量保存 -->
    <insert id="batchInsert">
        INSERT INTO b_auto_check_result_log (
        api_code,
        scene_code,
        table_name,
        last_data,
        today_data,
        today_data_id,
        compare_time,
        `result`,
        batch_id,
        is_deleted,
        create_time,
        update_time
        )
        VALUES
        <foreach collection="saveList" item="item" separator=",">
            (
            #{item.apiCode, jdbcType=VARCHAR},
            #{item.sceneCode, jdbcType=VARCHAR},
            #{item.tableName, jdbcType=VARCHAR},
            #{item.lastData, jdbcType=VARCHAR},
            #{item.todayData, jdbcType=VARCHAR},
            #{item.todayDataId, jdbcType=BIGINT},
            <choose>
                <when test="item.compareTime != null and item.compareTime != ''">
                    #{item.compareTime, jdbcType=VARCHAR}
                </when>
                <otherwise>
                    DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s')
                </otherwise>
            </choose>
            ,
            #{item.result, jdbcType=VARCHAR},
            #{item.batchId, jdbcType=VARCHAR},
            <choose>
                <when test="item.isDeleted != null">
                    #{item.isDeleted, jdbcType=TINYINT}
                </when>
                <otherwise>
                    0
                </otherwise>
            </choose>
            ,
            NOW(),
            NOW()
            )
        </foreach>
    </insert>

</mapper>