<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.BFileBiConfigMapper" >
  <resultMap id="BaseResultMap" type="com.br.marketing.entity.BFileBiConfig" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="api_code" property="apiCode" jdbcType="VARCHAR" />
    <result column="bus_type" property="busType" jdbcType="VARCHAR" />
    <result column="db_name" property="dbName" jdbcType="VARCHAR" />
    <result column="db_fields" property="dbFields" jdbcType="VARCHAR" />
    <result column="db_col_fields_map" property="dbColFieldsMap" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.br.marketing.entity.BFileBiConfig" extends="BaseResultMap" >
    <result column="db_fields" property="dbFields" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, api_code, bus_type, db_name, db_fields, db_col_fields_map, create_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    db_fields
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.br.marketing.entity.BFileBiConfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from b_file_bi_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.br.marketing.entity.BFileBiConfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_file_bi_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from b_file_bi_config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from b_file_bi_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.br.marketing.entity.BFileBiConfigExample" >
    delete from b_file_bi_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.br.marketing.entity.BFileBiConfig" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into b_file_bi_config (api_code, bus_type, db_name, 
      create_time, update_time, db_fields, db_col_fields_map)
      )
    values (#{apiCode,jdbcType=VARCHAR}, #{busType,jdbcType=VARCHAR}, #{dbName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{dbFields,jdbcType=LONGVARCHAR},
      #{dbColFieldsMap,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.br.marketing.entity.BFileBiConfig" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into b_file_bi_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="apiCode != null" >
        api_code,
      </if>
      <if test="busType != null" >
        bus_type,
      </if>
      <if test="dbName != null" >
        db_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="dbFields != null" >
        db_fields,
      </if>
      <if test="dbColFieldsMap != null" >
        db_col_fields_map,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="apiCode != null" >
        #{apiCode,jdbcType=VARCHAR},
      </if>
      <if test="busType != null" >
        #{busType,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null" >
        #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dbFields != null" >
        #{dbFields,jdbcType=LONGVARCHAR},
      </if>
      <if test="dbColFieldsMap != null" >
        #{dbColFieldsMap,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.br.marketing.entity.BFileBiConfigExample" resultType="java.lang.Integer" >
    select count(*) from b_file_bi_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update b_file_bi_config
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.apiCode != null" >
        api_code = #{record.apiCode,jdbcType=VARCHAR},
      </if>
      <if test="record.busType != null" >
        bus_type = #{record.busType,jdbcType=VARCHAR},
      </if>
      <if test="record.dbName != null" >
        db_name = #{record.dbName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dbFields != null" >
        db_fields = #{record.dbFields,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.dbColFieldsMap != null" >
        db_col_fields_map = #{record.dbColFieldsMap,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update b_file_bi_config
    set id = #{record.id,jdbcType=BIGINT},
      api_code = #{record.apiCode,jdbcType=VARCHAR},
      bus_type = #{record.busType,jdbcType=VARCHAR},
      db_name = #{record.dbName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      db_fields = #{record.dbFields,jdbcType=LONGVARCHAR},
      db_col_fields_map = #{record.dbColFieldsMap,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update b_file_bi_config
    set id = #{record.id,jdbcType=BIGINT},
      api_code = #{record.apiCode,jdbcType=VARCHAR},
      bus_type = #{record.busType,jdbcType=VARCHAR},
      db_name = #{record.dbName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.br.marketing.entity.BFileBiConfig" >
    update b_file_bi_config
    <set >
      <if test="apiCode != null" >
        api_code = #{apiCode,jdbcType=VARCHAR},
      </if>
      <if test="busType != null" >
        bus_type = #{busType,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null" >
        db_name = #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dbFields != null" >
        db_fields = #{dbFields,jdbcType=LONGVARCHAR},
      </if>
      <if test="dbColFieldsMap != null" >
        db_col_fields_map = #{dbColFieldsMap,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.br.marketing.entity.BFileBiConfig" >
    update b_file_bi_config
    set api_code = #{apiCode,jdbcType=VARCHAR},
      bus_type = #{busType,jdbcType=VARCHAR},
      db_name = #{dbName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      db_fields = #{dbFields,jdbcType=LONGVARCHAR},
      db_col_fields_map = #{dbColFieldsMap,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.br.marketing.entity.BFileBiConfig" >
    update b_file_bi_config
    set api_code = #{apiCode,jdbcType=VARCHAR},
      bus_type = #{busType,jdbcType=VARCHAR},
      db_name = #{dbName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectConfigAndTaskForBiShard" resultType="com.br.marketing.vo.TransFileToBiConfigRecordVO">

    SELECT
    c.id AS configId,
    c.api_code AS apiCode,
    c.bus_type AS busType,
    c.db_name AS dbName,
    c.db_fields AS dbFields,
    c.db_col_fields_map AS dbColFieldsMap,
    t.id AS taskId,
    t.file_type AS fileType,
    t.file_name AS fileName,
    t.file_path AS filePath,
    t.start_date AS startDate
    FROM b_file_bi_config c
    INNER JOIN b_transfer_file_task t ON c.api_code = t.api_code and c.file_type = t.file_type
    LEFT JOIN b_nfsfile_bi_record r ON r.task_id = t.id
    WHERE t.start_date = #{dataDate}
    AND t.status >= 2
    AND r.task_id IS NULL
    AND c.priority = #{priorityStatus}
    ORDER BY t.create_time ASC
    LIMIT 1;
  </select>
</mapper>