<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.CallRecordingMapper" >

    <!-- 插入所有字段到记录表（动态SQL） -->
    <insert id="insertAllFields">
        ${insertSql}
    </insert>


    <update id="updateBatchByIds">
        update b_marketing_call_recording
        set status=#{status}
        where id in
        <foreach collection='idList' item='id' open='(' close=')' separator=','>
            #{id}
        </foreach>
    </update>


    <select id="getCallRecord" resultType="com.br.marketing.entity.CallRecording">
        select *
        from b_marketing_call_recording
        where api_code = #{apiCode}
        and receive_date = #{date}
        and status in (0,3)
        <if test="indexId != null and indexId != ''">
            and id > #{indexId}
        </if>
        order by id asc limit #{pageSize}
    </select>


</mapper>