<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.CarClueInfoMapper" >

    <select id="selectList" resultType="com.br.marketing.vo.CarClueInfoVo">
        select
        bcci.id,
        bcci.api_code,
        bcci.cust_num as custNum,
        DATE_FORMAT(bcci.create_time, '%Y-%m-%d') as appletDate,
        bcci.resource_type as resourceType,
        bcci.clue_id as clueId,
        bcci.clue_data_status as clueDataStatus,
        bcci.clue_complete_status as clueCompleteStatus,
        bcci.intention,
        CASE
        WHEN bcci.clue_data_status = 1 THEN bcci.clue_match_brand
        ELSE bcci.brand
        END AS brand,
        CASE
        WHEN bcci.clue_data_status = 1 THEN bcci.clue_match_series
        ELSE bcci.series
        END AS series,
        CASE
        WHEN bcci.clue_data_status = 1 THEN bcci.clue_match_city
        ELSE bcci.city
        END AS city,
        bcci.cell,
        DATE_FORMAT(bcci.clean_time, '%Y-%m-%d %H:%i:%s') as cleanTime,
        DATE_FORMAT(bcci.update_time, '%Y-%m-%d %H:%i:%s') as updateTime,
        bcci.clue_push_channel as cluePushChannel,
        bcci.clue_push_status as cluePushStatus,
        DATE_FORMAT(bcci.push_time, '%Y-%m-%d %H:%i:%s') as pushTime,
        DATE_FORMAT(bcci.call_back_time, '%Y-%m-%d %H:%i:%s') as callBackTime,
        bcci.clue_callback_final_state as clueCallbackFinalState,
        bcci.recording_path as recordingPath,
        bcci.call_dialog as callDiaLog,
        bcci.resource_type as resourceType,
        bcci.call_id as callId,
        bcci.clue_error_reason as clueErrorReason
        from b_car_clue_info bcci
        <where>
            <if test="createTimeStart != null and createTimeStart != ''">
                <![CDATA[ and bcci.create_time >= #{createTimeStart} ]]>
            </if>
            <if test="createTimeEnd != null and createTimeEnd != ''">
                <![CDATA[ and bcci.create_time < #{createTimeEnd} ]]>
            </if>
            <if test="resourceType != null and resourceType != ''">
                and bcci.resource_type = #{resourceType}
            </if>
            <if test="intention != null and intention != ''">
                and bcci.intention = #{intention}
            </if>
            <if test="clueDataStatusList != null and !clueDataStatusList.isEmpty()">
                AND bcci.clue_data_status IN
                <foreach collection="clueDataStatusList" item="clueDataStatus" open="(" separator="," close=")">
                    #{clueDataStatus}
                </foreach>
            </if>
            <if test="clueCompleteStatusList != null and !clueCompleteStatusList.isEmpty()">
                AND bcci.clue_complete_status IN
                <foreach collection="clueCompleteStatusList" item="clueCompleteStatus" open="(" separator="," close=")">
                    #{clueCompleteStatus}
                </foreach>
            </if>
            <if test="updateTimeStart != null and updateTimeStart != ''">
                <![CDATA[ and bcci.update_time >= #{updateTimeStart} ]]>
            </if>
            <if test="updateTimeEnd != null and updateTimeEnd != ''">
                <![CDATA[ and bcci.update_time < #{updateTimeEnd} ]]>
            </if>
            <if test="queryNullOrEmpty != null and queryNullOrEmpty">
                AND (bcci.clue_push_channel IS NULL OR bcci.clue_push_channel = '')
            </if>
            <if test="cluePushChannel != null and !cluePushChannel.isEmpty() and (queryNullOrEmpty == null or !queryNullOrEmpty)">
                AND bcci.clue_push_channel IN
                <foreach collection="cluePushChannel" item="channel" open="(" separator="," close=")">
                    #{channel}
                </foreach>
            </if>
            <if test="cluePushStatus != null">
                and bcci.clue_push_status = #{cluePushStatus}
            </if>
            <if test="pushTimeStart != null and pushTimeStart != ''">
                <![CDATA[ and bcci.push_time >= #{pushTimeStart} ]]>
            </if>
            <if test="pushTimeEnd != null and pushTimeEnd != ''">
                <![CDATA[ and bcci.push_time < #{pushTimeEnd} ]]>
            </if>
            <if test="status != null">
                and bcci.clue_callback_final_state = #{status}
            </if>
            <if test="callBackTimeStart != null and callBackTimeStart != ''">
                <![CDATA[ and bcci.call_back_time >= #{callBackTimeStart} ]]>
            </if>
            <if test="callBackTimeEnd != null and callBackTimeEnd != ''">
                <![CDATA[ and bcci.call_back_time < #{callBackTimeEnd} ]]>
            </if>
            <if test="search !=null and search!=''">
                and (bcci.brand like concat("%", #{search},"%")
                or bcci.series like concat("%", #{search},"%")
                or bcci.city like concat("%", #{search},"%")
                or bcci.clue_match_brand like concat("%", #{search},"%")
                or bcci.clue_match_series like concat("%", #{search},"%")
                or bcci.clue_match_city like concat("%", #{search},"%"))
            </if>
        </where>
        order by ${orderByField} ${orderByType}
    </select>

    <select id="queryApiCodes" resultType="java.lang.String">
        select clue_push_channel
        from b_car_clue_info
        where clue_push_status = #{pushStatus}
        group by clue_push_channel
    </select>

    <insert id="batchInsert" parameterType="list">
        INSERT INTO b_car_clue_info (
        cid, api_code, cust_num, cell, intention, brand, member, series,
        province, city, recording_path, call_dialog, clue_data_status, clue_complete_status,
        resource_type, call_id, create_time, update_time
        )
        VALUES
        <foreach collection="carClueInfoList" item="item" separator=",">
            (
            #{item.cid, jdbcType=VARCHAR},
            #{item.apiCode, jdbcType=VARCHAR},
            #{item.custNum, jdbcType=VARCHAR},
            #{item.cell, jdbcType=VARCHAR},
            #{item.intention, jdbcType=VARCHAR},
            #{item.brand, jdbcType=VARCHAR},
            #{item.member, jdbcType=VARCHAR},
            #{item.series, jdbcType=VARCHAR},
            #{item.province, jdbcType=VARCHAR},
            #{item.city, jdbcType=VARCHAR},
            #{item.recordingPath, jdbcType=VARCHAR},
            #{item.callDialog, jdbcType=VARCHAR},
            #{item.clueDataStatus, jdbcType=INTEGER},
            #{item.clueCompleteStatus, jdbcType=INTEGER},
            #{item.resourceType, jdbcType=VARCHAR},
            #{item.callId, jdbcType=VARCHAR},
            #{item.createTime, jdbcType=TIMESTAMP},
            #{item.updateTime, jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <select id="selectCarClueByMinId" resultType="com.br.marketing.entity.CarClueInfo">
        select *
        from b_car_clue_info
        where api_code IN
        <foreach collection="apiCodeList" item="apicode" open="(" separator="," close=")">
            #{apicode}
        </foreach>
        and clue_data_status = #{status}
        <if test="minId != null and minId >0">
            and `id` > #{minId}
        </if>
        order by `id` asc limit 2000
    </select>

    <select id="queryList" resultType="com.br.marketing.entity.CarClueInfo" parameterType="com.br.marketing.dto.CarClueReportDTO">
        select *
        from b_car_clue_info
        <where>
            <if test="carClueReportDTO.createTimeStart != null and carClueReportDTO.createTimeStart != ''">
                <![CDATA[ and create_time >= #{carClueReportDTO.createTimeStart} ]]>
            </if>
            <if test="carClueReportDTO.createTimeEnd != null and carClueReportDTO.createTimeEnd != ''">
                <![CDATA[ and create_time < #{carClueReportDTO.createTimeEnd} ]]>
            </if>
            <if test="carClueReportDTO.resourceType != null and carClueReportDTO.resourceType != ''">
                and resource_type = #{carClueReportDTO.resourceType}
            </if>
            <if test="carClueReportDTO.intention != null and carClueReportDTO.intention != ''">
                and intention = #{carClueReportDTO.intention}
            </if>
            <if test="carClueReportDTO.clueDataStatus != null and !carClueReportDTO.clueDataStatus.isEmpty()">
                AND clue_data_status IN
                <foreach collection="carClueReportDTO.clueDataStatus" item="clueDataStatus" open="(" separator="," close=")">
                    #{clueDataStatus}
                </foreach>
            </if>
            <if test="carClueReportDTO.clueCompleteStatus != null and !carClueReportDTO.clueCompleteStatus.isEmpty()">
                AND clue_complete_status IN
                <foreach collection="carClueReportDTO.clueCompleteStatus" item="clueCompleteStatus" open="(" separator="," close=")">
                    #{clueCompleteStatus}
                </foreach>
            </if>
            <if test="carClueReportDTO.updateTimeStart != null and carClueReportDTO.updateTimeStart != ''">
                <![CDATA[ and update_time >= #{carClueReportDTO.updateTimeStart} ]]>
            </if>
            <if test="carClueReportDTO.updateTimeEnd != null and carClueReportDTO.updateTimeEnd != ''">
                <![CDATA[ and update_time < #{carClueReportDTO.updateTimeEnd} ]]>
            </if>
            <if test="carClueReportDTO.cluePushChannel != null and !carClueReportDTO.cluePushChannel.isEmpty()">
                AND clue_push_channel IN
                <foreach collection="carClueReportDTO.cluePushChannel" item="channel" open="(" separator="," close=")">
                    #{channel}
                </foreach>
            </if>
            <if test="carClueReportDTO.cluePushStatus != null">
                and clue_push_status = #{carClueReportDTO.cluePushStatus}
            </if>
            <if test="carClueReportDTO.pushTimeStart != null and carClueReportDTO.pushTimeStart != ''">
                <![CDATA[ and push_time >= #{carClueReportDTO.pushTimeStart} ]]>
            </if>
            <if test="carClueReportDTO.pushTimeEnd != null and carClueReportDTO.pushTimeEnd != ''">
                <![CDATA[ and push_time < #{carClueReportDTO.pushTimeEnd} ]]>
            </if>
            <if test="carClueReportDTO.clueCallbackFinalState != null">
                and clue_callback_final_state = #{carClueReportDTO.clueCallbackFinalState}
            </if>
            <if test="carClueReportDTO.callBackTimeStart != null and carClueReportDTO.callBackTimeStart != ''">
                <![CDATA[ and call_back_time >= #{carClueReportDTO.callBackTimeStart} ]]>
            </if>
            <if test="carClueReportDTO.callBackTimeEnd != null and carClueReportDTO.callBackTimeEnd != ''">
                <![CDATA[ and call_back_time < #{carClueReportDTO.callBackTimeEnd} ]]>
            </if>
            <if test="carClueReportDTO.search !=null and carClueReportDTO.search!=''">
                and (brand like concat("%", #{carClueReportDTO.search},"%")
                or series like concat("%", #{carClueReportDTO.search},"%")
                or city like concat("%", #{carClueReportDTO.search},"%")
                or clue_match_brand like concat("%", #{carClueReportDTO.search},"%")
                or clue_match_series like concat("%", #{carClueReportDTO.search},"%")
                or clue_match_city like concat("%", #{carClueReportDTO.search},"%"))
            </if>
            <if test="minId != null and minId >0">
                and `id` > #{minId}
            </if>
        </where>
        order by `id` asc limit 2000
    </select>

</mapper>