<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.CaseShuheUserMapper">

    <select id="selectIsBlackData" resultType="com.br.marketing.entity.CaseShuheUser">
        select *
        from b_case_shuhe_user
        where is_black = 'Y'
        <![CDATA[ and upload_date >= #{startDay}
          and upload_date < #{endDay}]]>
        group by mobile;
    </select>

    <select id="selectOrderRrtEndData" resultType="com.br.marketing.entity.CaseShuheUser">
        select *
        from b_case_shuhe_user
        <where>
            <if test="minId != null and minId >0">
                AND id >=#{minId}
            </if>
            <if test="nowDay != null">
                AND  (clc_usr_max_dx_rrt_end <![CDATA[ >= ]]> #{nowDay} or usr_forbid_call_end_tim <![CDATA[ >= ]]> #{nowDay})
            </if>
            order by id asc limit 2000;
        </where>
    </select>

    <select id="getByCellOrClcUsrMaxDxRrtEndOrUsrForbidCallEndTim" resultType="java.lang.Long">
        select count(*)
        from b_case_shuhe_user
        where cell = #{cell}
          and (<![CDATA[clc_usr_max_dx_rrt_end >= #{localDate}]]>
            or <![CDATA[usr_forbid_call_end_tim >= ]]> #{localDate})
    </select>

</mapper>