<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.CellCollectRecordMapper">
    <resultMap id="BaseResultMap" type="com.br.marketing.entity.CellCollectRecord">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="api_code" property="apiCode" jdbcType="VARCHAR"/>
        <result column="upload_max_id" property="uploadMaxId" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="max_id" property="maxId" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, api_code, upload_max_id, `status`, max_id, create_time, update_time
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.br.marketing.entity.CellCollectRecordExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from b_marketing_cell_collect_record
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from b_marketing_cell_collect_record
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from b_marketing_cell_collect_record
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.br.marketing.entity.CellCollectRecordExample">
        delete from b_marketing_cell_collect_record
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.br.marketing.entity.CellCollectRecord">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into b_marketing_cell_collect_record (api_code, upload_max_id, `status`,
        max_id, create_time, update_time
        )
        values (#{apiCode,jdbcType=VARCHAR}, #{uploadMaxId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER},
        #{maxId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.br.marketing.entity.CellCollectRecord">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into b_marketing_cell_collect_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="apiCode != null">
                api_code,
            </if>
            <if test="uploadMaxId != null">
                upload_max_id,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="maxId != null">
                max_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="apiCode != null">
                #{apiCode,jdbcType=VARCHAR},
            </if>
            <if test="uploadMaxId != null">
                #{uploadMaxId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="maxId != null">
                #{maxId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.br.marketing.entity.CellCollectRecordExample"
            resultType="java.lang.Integer">
        select count(*) from b_marketing_cell_collect_record
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update b_marketing_cell_collect_record
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.apiCode != null">
                api_code = #{record.apiCode,jdbcType=VARCHAR},
            </if>
            <if test="record.uploadMaxId != null">
                upload_max_id = #{record.uploadMaxId,jdbcType=BIGINT},
            </if>
            <if test="record.status != null">
                `status` = #{record.status,jdbcType=INTEGER},
            </if>
            <if test="record.maxId != null">
                max_id = #{record.maxId,jdbcType=BIGINT},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update b_marketing_cell_collect_record
        set id = #{record.id,jdbcType=BIGINT},
        api_code = #{record.apiCode,jdbcType=VARCHAR},
        upload_max_id = #{record.uploadMaxId,jdbcType=BIGINT},
        `status` = #{record.status,jdbcType=INTEGER},
        max_id = #{record.maxId,jdbcType=BIGINT},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.br.marketing.entity.CellCollectRecord">
        update b_marketing_cell_collect_record
        <set>
            <if test="apiCode != null">
                api_code = #{apiCode,jdbcType=VARCHAR},
            </if>
            <if test="uploadMaxId != null">
                upload_max_id = #{uploadMaxId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=INTEGER},
            </if>
            <if test="maxId != null">
                max_id = #{maxId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.br.marketing.entity.CellCollectRecord">
        update b_marketing_cell_collect_record
        set api_code = #{apiCode,jdbcType=VARCHAR},
        upload_max_id = #{uploadMaxId,jdbcType=BIGINT},
        `status` = #{status,jdbcType=INTEGER},
        max_id = #{maxId,jdbcType=BIGINT},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateStatusByApiCode">
        update b_marketing_cell_collect_record
        set status = #{status,jdbcType=INTEGER},
          update_time =  now()
        where api_code = #{apiCode,jdbcType=VARCHAR}
    </update>


    <update id="updateStatus" parameterType="java.lang.Integer">
        update b_marketing_cell_collect_record
        set status = #{status,jdbcType=INTEGER},
           update_time = now()
        where status = 2
    </update>

    <update id="updateMaxIdByApiCode">
        update b_marketing_cell_collect_record
        set max_id = #{maxId,jdbcType=BIGINT}, update_time = now()
        where api_code = #{apiCode,jdbcType=VARCHAR}
    </update>
</mapper>