<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.CustomerInfoPushMainMapper" >
    <select id="getPushInfos" resultType="com.br.marketing.vo.PushInfoDetailVO" parameterType="com.br.marketing.dto.RequestPushInfoDTO">
        select bcipm.id,bcipm.create_time,bcipm.m_cus_batch_number_list as m_cus_batch_number
             ,bcipm.m_model,bcipm.m_model_version,bcipm.m_num_min,bcipm.m_num_max
             ,bcipm.m_score_min,bcipm.m_score_max,bcipm.m_realy_num,bcipm.m_status
        from b_customer_info_push_main bcipm
        <if test="cusBatchNumber != null and cusBatchNumber!=''">
            left join b_customer_info_push_batch bcipb on bcipm .id = bcipb .m_id and bcipb .is_del =1
            left join stra_his_file shf on bcipb.m_file_id = shf.id
        </if>
        where bcipm .m_api_code = #{mApiCode}
            <if test="mStatus !=null and mStatus>0">
              and bcipm .m_status = #{mStatus}
            </if>
            <if test="pushBeginTime !=null and pushBeginTime!=''">
              <![CDATA[  and bcipm .create_time >=#{pushBeginTime} ]]>
            </if>
            <if test="pushEndTime !=null and pushEndTime!=''">
            <![CDATA[  and bcipm .create_time <=#{pushEndTime} ]]>
            </if>
            <if test="cusBatchNumber !=null and cusBatchNumber!= ''">
              and shf .show_title =#{cusBatchNumber}
            </if>
            and bcipm .m_status != -1
            and bcipm .is_del =1
            order by bcipm.id desc
    </select>

    <select id="getPushInfoList" resultType="com.br.marketing.vo.PushInfoListVO">
        select id,
        m_api_code as api_code,
        m_cus_batch_number_list as mCusBatchNumberList,
        m_rule_condition_show as mRuleConditionShow,
        m_rule_condition as mRuleCondition,
        m_score_condition as mScoreCondition,
        m_realy_num as mRealyNum,
        m_plan_num as mPlanNum,
        m_percentage as mPercentage,
        DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') as createTime,
        m_status as mStatus,
        batch_name as  batchName,
        push_target as pushTarget,
        extend,
        upload_report_ids as uploadReportIds
        from b_customer_info_push_main
        where is_del=1
          and m_status !=-1
        <if test="pushTargets !=null and pushTargets.size()>0">
            and push_target in
            <foreach collection="pushTargets" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="dto.mApiCode !=null and dto.mApiCode !=''">
            and m_api_code = #{dto.mApiCode}
        </if>
        <if test="dto.pushBeginTime !=null and dto.pushBeginTime!=''">
            <![CDATA[  and create_time >=#{dto.pushBeginTime} ]]>
        </if>
        <if test="dto.pushEndTime !=null and dto.pushEndTime!=''">
            <![CDATA[  and create_time <=#{dto.pushEndTime} ]]>
        </if>
        <if test="dto.pushInfoId !=null and dto.pushInfoId!=''">
            and id = #{dto.pushInfoId}
        </if>
        <if test="dto.mStatusList !=null and dto.mStatusList.size()>0">
            and m_status in
            <foreach collection="dto.mStatusList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        order by create_time desc,update_time desc,id desc
    </select>


</mapper>