<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.CustomerCallingPushLogMapper">

    <insert id="insert">
        insert into b_marketing_customer_calling_push_log
        (`request_id`,
         `sum`,
         `create_time`,
         `params`,
         `result`)
        values (
                #{requestId, jdbcType = VARCHAR},
                #{sum, jdbcType = INTEGER},
                #{createTime,jdbcType=TIMESTAMP},
                #{params},
                #{result})
    </insert>

</mapper>