<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.CustomerRuleMapper" >

    <select id="customerRuleLabels" parameterType="string" resultType="string">
        select
            rule.rule_label
        from b_marketing_customer_rule rule
                 left join b_marketing_customer_rule_mapping mapping on rule.id = mapping.rule_id
        where mapping.api_code = #{apiCode} and mapping.is_delete = 0
    </select>
    <select id="getCustomerAndUserType" resultType="java.util.HashMap">
        select
            customer.cid as cid
             ,customer.api_code as apiCode
             ,rule.condition_info as conditionInfo
        from b_customer_rule rule
                 join b_marketing_customer customer on rule.customer_id = customer.id
        where rule.rule_id = #{ruleId}
          and rule.is_del = '1'
          and customer.status = '1'
    </select>

    <insert id="saveCustomerRuleMapping">
        insert into b_marketing_customer_rule_mapping (api_code, create_time, rule_id) values
            (#{apiCode}, now(), #{ruleId})
    </insert>

    <select id="selectIdByRuleLabel" resultType="long">
        select id from b_marketing_customer_rule where rule_label = #{ruleLabel} limit 1;
    </select>

    <select id="countByApiCodeAndRuleLabel" resultType="java.lang.Integer">
        select count(1)
        from b_marketing_customer_rule_mapping a
                 join b_marketing_customer_rule b on a.rule_id = b.id
        where a.api_code = #{apiCode}
          and b.rule_label = #{ruleLabel}
          and a.is_delete = 0
    </select>
</mapper>