<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.DataDistributeDetailLogMapper">
    <insert id="insertBatch" parameterType="list">
    INSERT INTO b_data_distribute_detail_log (
        api_code,
        cust_num,
        cell,
        `status`,
        p_status,
        distribute_date,
        distribute_type,
        success_date,
        create_time,
        update_time,
        source_id,
        source_type,
        extend
        )values
        <foreach collection="list" item="data" separator=",">
            (#{data.apiCode},
            #{data.custNum},
            #{data.cell},
            #{data.status,jdbcType=VARCHAR},
            #{data.pStatus},
            #{data.distributeDate},
            #{data.distributeType},
            #{data.successDate},
            #{data.createTime},
            #{data.updateTime},
            #{data.sourceId,jdbcType=BIGINT},
            #{data.sourceType,jdbcType=VARCHAR},
            #{data.extend,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="getToDataDistributeInfoList" resultType="java.lang.String">
        select
        cell
        from b_data_distribute_detail_log
        where api_code = #{apiCode}
        and cell in
        <foreach collection="cells" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        and DATE_FORMAT(now(),"%Y-%m-%d") = date_format(create_time,"%Y-%m-%d")
    </select>

    <select id="findDistributeLogCellSet" resultType="java.lang.String">
        select
        cell
        from b_data_distribute_detail_log
        where api_code = #{apiCode}
            and distribute_type = #{distributeType}
            and distribute_date = #{distributeDate}
            and cell in
            <foreach collection="cells" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        <if test="marketingDate !=null and marketingDate!=''">
            and JSON_EXTRACT(extend, '$.marketingDate') = #{marketingDate}
        </if>
        <if test="userType !=null and userType!=''">
            and JSON_EXTRACT(extend, '$.userType') = #{userType}
        </if>
    </select>

    <select id="findZhongAnLockingDataDistributeLog" resultType="java.lang.Long">
        select id
        from b_data_distribute_detail_log
        where api_code = #{apiCode}
          and distribute_type = #{distributeType}
          and distribute_date = #{distributeDate}
          and cell = #{cell}
          and JSON_EXTRACT(extend, '$.userType') = #{userType}
          and JSON_EXTRACT(extend, '$.tag') = #{tag}
    </select>
</mapper>