<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.DiDiV5CollidingDataMapper">
    <resultMap id="BaseResultMap" type="com.br.marketing.entity.DiDiV5CollidingData">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="api_code" property="apiCode" jdbcType="VARCHAR"/>
        <result column="local_id" property="localId" jdbcType="BIGINT"/>
        <result column="cell" property="cell" jdbcType="VARCHAR"/>
        <result column="colliding_time" property="collidingTime" jdbcType="TIMESTAMP"/>
        <result column="data_message" property="dataMessage" jdbcType="VARCHAR"/>
        <result column="extend" property="extend" jdbcType="VARCHAR"/>
        <result column="push_status" property="pushStatus" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="queryCollidingData" resultMap="BaseResultMap">
        SELECT *
        FROM b_didi_v5_colliding_data
        WHERE push_status = 0
        AND status = 1
        AND colliding_time BETWEEN #{startTime} AND #{endTime}
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>

    <select id="queryCollidingDataBySharding" resultMap="BaseResultMap">
        SELECT *
        FROM b_didi_v5_colliding_data
        WHERE push_status = 0
        AND status = 1
        AND colliding_time BETWEEN #{startTime} AND #{endTime}
        AND mod(id, #{shardingTotalCount}) in
        <foreach collection="shardingItems" item="sharding" open="(" separator="," close=")">
            #{sharding}
        </foreach>
        ORDER BY id ASC
        LIMIT #{limit}
    </select>

    <update id="updatePushStatusByIds">
        update b_didi_v5_colliding_data
        set push_status = #{pushStatus,jdbcType=INTEGER}
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="batchUpdatePushStatusByCell">
        update b_didi_v5_colliding_data
        set push_status = 1
        where cell in
        <foreach collection="cells" item="cell" open="(" separator="," close=")">
            #{cell}
        </foreach>
    </update>

    <update id="updateCollidingTimeByIds">
        update b_didi_v5_colliding_data
        set colliding_time = #{collidingTime},
        push_status = #{pushStatus,jdbcType=INTEGER}
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="queryCollidingFileIds" resultType="java.lang.Long">
        SELECT local_id
        FROM b_didi_v5_colliding_data
        WHERE status = 1
        AND colliding_time BETWEEN #{startTime} AND #{endTime}
        group by local_id
    </select>

    <select id="getPushStatusCountByLocalId" resultType="int">
        SELECT count(*)
        FROM b_didi_v5_colliding_data
        WHERE push_status = #{pushStatus,jdbcType=INTEGER}
          AND status = 1
          AND local_id = #{fileId,jdbcType=BIGINT}
          AND colliding_time BETWEEN #{startTime} AND #{endTime}
    </select>

    <select id="selectNoDupDataByLocalIdtikv_" resultType="com.br.marketing.entity.DiDiV5CollidingData">
        SELECT c.*
        FROM (SELECT a.*, ROW_NUMBER() OVER (PARTITION BY a.cell ORDER BY a.id) AS row_num
              FROM b_didi_v5_colliding_data a
              WHERE a.status = 1
                AND a.api_code = #{apiCode}
                AND a.local_id = #{localId}
                AND a.push_status = 0
                AND date(a.colliding_time) = date(#{collidingDate})
                AND NOT EXISTS (SELECT 1
                                FROM b_didi_v5_colliding_data_rob rob
                                WHERE rob.cell = a.cell
                                  AND rob.api_code = a.api_code
                                  AND rob.package_id = a.local_id)) AS c
        WHERE c.row_num = 1
          AND c.id > #{minId}
        ORDER BY c.id
            LIMIT #{pageSize}
    </select>

    <select id="selectNoDupDataByDateAndIdtikv_" resultMap="BaseResultMap">
        SELECT c.*
        FROM (SELECT a.*, ROW_NUMBER() OVER (PARTITION BY a.cell ORDER BY a.id ASC) AS row_num
              FROM b_didi_v5_colliding_data a
              WHERE a.api_code = #{apiCode}
                AND a.push_status = 0
                AND DATE (a.colliding_time) >= DATE(#{collidingTime})
            AND NOT EXISTS (
                SELECT 1
                FROM b_didi_v5_colliding_data_rob rob
                WHERE rob.cell = a.cell
                AND rob.api_code = a.api_code
                AND rob.package_id = a.local_id
            )) AS c
        WHERE c.row_num = 1
          AND c.id > #{minId}
        ORDER BY c.id ASC
            LIMIT #{pageSize}
    </select>
</mapper>