<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.DiDiV5CollidingDataLogMapper">

    <select id="queryFailedData" resultType="com.br.marketing.entity.DiDiV5CollidingDataLog">
        SELECT *
        FROM b_didi_v5_colliding_data_log
        WHERE id > #{lastId}
          AND result = 'true'
          AND create_time >= curdate()
          AND api_code = #{apiCode}
        ORDER BY id ASC
            LIMIT #{pageSize}
    </select>

    <select id="checkCellBatch" resultType="java.lang.String">
        SELECT distinct(cell)
        FROM b_didi_v5_colliding_data_log
        Where cell in
        <foreach collection="cellList" item="cell" open="(" separator="," close=")">
            #{cell}
        </foreach>
        AND fail_reason in (2,3)
    </select>

    <select id="checkCellBatchFailMsgs" resultType="java.lang.String">
        SELECT distinct(cell)
        FROM b_didi_v5_colliding_data_log
        Where cell in
        <foreach collection="cellList" item="cell" open="(" separator="," close=")">
            #{cell}
        </foreach>
        AND fail_reason in
        <foreach collection="failMsgs" item="failMsg" open="(" separator="," close=")">
            #{failMsg}
        </foreach>
    </select>
</mapper>