<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.DidiCallRecordMapper">

    <select id="getCustNumByStatusIs1AndCellSet" resultType="java.lang.String">
        select cust_num from b_didi_call_record where api_code='${apiCode}' and create_date=${createDate}
        and cust_num in
        <foreach collection="custNumSet" item="custNum" open="(" close=")" separator=",">
            '${custNum}'
        </foreach>
    </select>
</mapper>