<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.DidiCallbackDataLogMapper">

    <select id="selectPushedCells" resultType="java.lang.String">
        select cell from b_didi_v5_callback_data_log where create_time > curdate() and cell in
        <foreach item="item" index="index" collection="cellSet" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectSuccessPushedCells" resultType="java.lang.String">
        SELECT DISTINCT cell FROM b_didi_v5_callback_data_log
        WHERE create_time > curdate() and cell IN
        <foreach collection="cellSet" item="cell" open="(" close=")" separator=",">
            #{cell}
        </foreach>
        AND push_type IN (1, 2, 3)
    </select>

    <select id="checkCellBatch" resultType="java.lang.String">
        select distinct(cell)
        from b_didi_v5_callback_data_log
        where <![CDATA[ create_time >= DATE_SUB(current_date, INTERVAL 15 DAY) ]]>
        and <![CDATA[ create_time < curdate() ]]>
        and push_type in (1, 2, 3)
        and cell in
        <foreach collection="cellList" item="cell" open="(" separator="," close=")">
            #{cell}
        </foreach>
    </select>
</mapper>