<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.DrsCustomizeUploadDataMapper">
    <update id="createDrsCustomizeUploadDataTable" parameterType="java.lang.String">
        CREATE TABLE IF NOT EXISTS b_drs_customize_upload_data${tCid}
        (
            `id`                bigint(20) NOT NULL AUTO_INCREMENT,
            `api_code`          varchar(10)  DEFAULT '' COMMENT '用户编号',
            `request_id`        varchar(100) DEFAULT '' COMMENT '请求流水号',
            `request_json_data` longtext     DEFAULT NULL COMMENT '请求数据',
            `biz_data_number`   int(9)       DEFAULT '0' COMMENT '数据量',
            `response_code`     varchar(50)  DEFAULT '' COMMENT '响应码',
            `response_data`     longtext     DEFAULT NULL COMMENT '响应数据',
            `extend`            longtext     DEFAULT NULL COMMENT '扩展字段',
            `status`            int(1)       DEFAULT '0' COMMENT '状态 0-无效、1-有效',
            `sync_status`       int(1)       DEFAULT '0' COMMENT '同步状态 0-未同步、1-已同步',
            `flatten_status`    int(1)       DEFAULT '0' COMMENT '打平状态 0-未打平、1-已打平',
            `receive_date`      varchar(50)  DEFAULT '' COMMENT '接入日期yyyy-MM-dd',
            `create_time`       timestamp    DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
            `update_time`       timestamp    DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
            PRIMARY KEY (`id`),
            KEY `idx_request_id` (`request_id`),
            KEY `idx_receive_date` (`receive_date`)
        ) ENGINE = InnoDB
          DEFAULT CHARSET = utf8
          COLLATE = utf8_bin COMMENT ='数据中转定制化客户数据前置表'
    </update>


    <insert id="insertSelective" parameterType="com.br.marketing.entity.DrsCustomizeUploadData">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into b_drs_customize_upload_data${tCid}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="apiCode != null">
                api_code,
            </if>
            <if test="requestId != null">
                request_id,
            </if>
            <if test="requestJsonData != null">
                request_json_data,
            </if>
            <if test="bizDataNumber != null">
                biz_data_number,
            </if>
            <if test="responseCode != null">
                response_code,
            </if>
            <if test="responseData != null">
                response_data,
            </if>
            <if test="extend != null">
                extend,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="syncStatus != null">
                sync_status,
            </if>
            <if test="flattenStatus != null">
                flatten_status,
            </if>
            <if test="receiveDate != null">
                receive_date,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="apiCode != null">
                #{apiCode,jdbcType=VARCHAR},
            </if>
            <if test="requestId != null">
                #{requestId,jdbcType=VARCHAR},
            </if>
            <if test="requestJsonData != null">
                #{requestJsonData,jdbcType=VARCHAR},
            </if>
            <if test="bizDataNumber != null">
                #{bizDataNumber,jdbcType=INTEGER},
            </if>
            <if test="responseCode != null">
                #{responseCode,jdbcType=VARCHAR},
            </if>
            <if test="responseData != null">
                #{responseData,jdbcType=VARCHAR},
            </if>
            <if test="extend != null">
                #{extend,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="syncStatus != null">
                #{syncStatus,jdbcType=INTEGER},
            </if>
            <if test="flattenStatus != null">
                #{flattenStatus,jdbcType=INTEGER},
            </if>
            <if test="receiveDate != null">
                #{receiveDate,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="selectById" resultType="com.br.marketing.entity.DrsCustomizeUploadData">
        select * from b_drs_customize_upload_data${tCid} where id = #{sourceId}
    </select>
    <select id="getDataOfNeedClean" resultType="com.br.marketing.entity.DrsCustomizeUploadData">
        select *
        from b_drs_customize_upload_data${tCid} a
        left join b_log_360ai b on a.id = b.data_id
        where a.receive_date in
        <foreach collection="receiveDates" item="receiveDate" open="(" separator="," close=")">
            #{receiveDate}
        </foreach>
        and a.api_code in
        <foreach collection="apiCodes" item="apiCode" open="(" separator="," close=")">
            #{apiCode}
        </foreach>
        and a.status = 1
        and a.sync_status = 1
        and b.id is null
        order by a.id
        limit #{pageSize}
    </select>

    <update id="updateSyncStatusById">
        update b_drs_customize_upload_data${tCid} set sync_status = #{syncStatus} where id = #{sourceId}
    </update>

    <update id="updateSyncStatusByIds">
        update b_drs_customize_upload_data${tCid}
        set sync_status = #{syncStatus}
        where id in
        <foreach collection="sourceIds" separator="," item="sourceId" open="(" close=")">
            #{sourceId}
        </foreach>
    </update>

    <update id="updateFlattenStatusByIds">
        update b_drs_customize_upload_data${tCid}
        set flatten_status = #{flattenStatus}
        where id in
        <foreach collection="sourceIds" separator="," item="sourceId" open="(" close=")">
            #{sourceId}
        </foreach>
    </update>

    <select id="getDataOfToBeSync" resultType="com.br.marketing.entity.DrsCustomizeUploadData">
        select *
        from b_drs_customize_upload_data${tCid}
        where receive_date in
        <foreach collection="receiveDates" item="receiveDate" open="(" separator="," close=")">
            #{receiveDate}
        </foreach>
        and api_code in
        <foreach collection="apiCodes" item="apiCode" open="(" separator="," close=")">
            #{apiCode}
        </foreach>
        and status = 1
        and sync_status = 0
        <if test="indexId != null and indexId!=''">
            and id > #{indexId}
        </if>
        order by id asc limit #{pageSize};
    </select>

    <select id="getDrsCustomizeUploadDataBySyncStatus"
            resultType="com.br.marketing.entity.DrsCustomizeUploadData">
        select *
        from b_drs_customize_upload_data${tCid}
        where sync_status = #{syncStatus}
        <if test="minId != null and minId!=''">
            and id > #{minId}
        </if>
        order by id asc
        limit #{pageSize}
    </select>

    <select id="getQiFuUploadDataOriginalBySerialNo"
            resultType="com.br.marketing.entity.BQifuUploadDataOriginal">
        select * from b_qifu_upload_data_original where serial_no = #{serialNo} and is_real = 0 order by create_time desc limit 1
    </select>

    <update id="updateExtendAndStatusById">
        update b_drs_customize_upload_data${tCid} set extend = #{extend},sync_status = #{syncStatus}  where id = #{id}
    </update>

    <select id="selectByApiCodeAndDate" resultType="com.br.marketing.entity.DrsCustomizeUploadData">
        select * from b_drs_customize_upload_data${tCid} where api_code = #{apiCode} and DATE(create_time) = #{createDate} order by create_time desc
    </select>

    <select id="getDataIdRange" resultType="java.util.Map">
        select
            min(id) as minId,
            max(id) as maxId
        from b_drs_customize_upload_data${tCid}
        where api_code in
        <foreach collection="apiCodes" item="apiCode" open="(" separator="," close=")">
            #{apiCode}
        </foreach>
        and flatten_status = 0
        <if test="dateType == 'history'">
            and receive_date &lt;= #{dateValue}
        </if>
        <if test="dateType == 'today'">
            and receive_date = #{dateValue}
        </if>
    </select>

    <select id="getDataByIdRange" resultType="com.br.marketing.entity.DrsCustomizeUploadData">
        select *
        from b_drs_customize_upload_data${tCid}
        where api_code in
        <foreach collection="apiCodes" item="apiCode" open="(" separator="," close=")">
            #{apiCode}
        </foreach>
        and flatten_status = 0
        <if test="dateType == 'history'">
            and receive_date &lt;= #{dateValue}
        </if>
        <if test="dateType == 'today'">
            and receive_date = #{dateValue}
        </if>
        and id > #{indexId}
        and id &lt;= #{maxId}
        order by id asc
        limit #{pageSize}
    </select>

</mapper>