<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.eventtrack.EventTrackingCellReportMapper" >

    <select id="selectCellReportListtikv_" resultType="com.br.marketing.entity.eventtrack.EventTrackingCellReportCount">
        select DATE_FORMAT(create_time, '%Y-%m-%d') as createTime, user_name as userName, count(*) as count
        from b_event_tracking_cell_report
        where is_delete=0
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
            <![CDATA[ and create_time>=#{startTime} and create_time<=#{endTime} ]]>
        </if>
        <if test="userNames != null and userNames.size()>0">
            and user_name in
            <foreach collection="userNames" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        group by DATE_FORMAT(create_time, '%Y-%m-%d'),user_name
        <if test="orderField != null and orderField != '' ">
            order by ${orderField}
            <if test="descField != null and descField != '' ">
                ${descField}
            </if>
            <if test="descField == null or descField == '' ">
                desc
            </if>
        </if>
        <if test="orderField == null or orderField == '' ">
            order by create_time desc
        </if>
    </select>

    <select id="selectCellReportDetailListtikv_" resultType="com.br.marketing.entity.eventtrack.EventTrackingCellReportDetail">
        select DATE_FORMAT(create_time, '%Y-%m-%d') as createDate, user_name as userName,
            json_unquote(json_extract(request_param,'$.cidOrName')) as cidOrName,
            json_unquote(json_extract(request_param,'$.cid')) as cid,
            json_unquote(json_extract(request_param,'$.shortName')) as shortName,
            json_unquote(json_extract(request_param,'$.apiCodes')) as apiCodes,
            cell, create_time as createTime
        from b_event_tracking_cell_report
        where is_delete=0
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
            <![CDATA[ and create_time>=#{startTime} and create_time<#{endTime} ]]>
        </if>
        <if test="userNames != null and userNames.size()>0">
            and user_name in
            <foreach collection="userNames" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="apiCodes != null and apiCodes != ''">
            and request_param->'$.apiCodes' like CONCAT('%',#{apiCodes},'%')
        </if>
        <if test="orderField != null and orderField != '' ">
            order by ${orderField}
            <if test="descField != null and descField != '' ">
                ${descField}
            </if>
            <if test="descField == null or descField == '' ">
                desc
            </if>
        </if>
        <if test="orderField == null or orderField == '' ">
            order by create_time desc
        </if>
    </select>

</mapper>