<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.LineAccountDetailNormalMapper" >

    <select id="selectLineIfExist" resultType="java.lang.Long">
        select
        gateway_id
        from
        b_marketing_line_account_detail_normal
        where
        gateway_id in
        <foreach collection = "gatewayIds" item = "gatewayId" open = "(" separator = "," close = ")">
            #{gatewayId}
        </foreach>
        <if test = "groupId != null and groupId !=''">
            and group_id not in (
            #{groupId})
        </if>
        and is_delete = 0
    </select>


    <!-- 提取公共查询条件 -->
    <sql id="commonListQuery">
        FROM (
        SELECT
        group_id,
        line_supplier_id,
        GROUP_CONCAT(DISTINCT gateway_id ORDER BY gateway_id SEPARATOR ',') as gateway_ids,
        price,
        effect_start_date,
        effect_end_date,
        create_time,
        update_time,
        enabled,
        is_delete,
        MAX(CASE WHEN gateway_id IN(0
        <foreach collection="gatewayIdList" item="gatewayId" open="," separator="," close=" ">
            #{gatewayId}
        </foreach>
        ) THEN 1 ELSE 0 END) as has_target_gateway
        FROM b_marketing_line_account_detail_normal
        <where>
            is_delete = 0
            <if test="lineSupplierId!=null">AND line_supplier_id = #{lineSupplierId}</if>
            <if test="price != null">AND price = #{price}</if>
            <if test="nowDate !=null">AND #{nowDate} BETWEEN effect_start_date AND effect_end_date</if>
        </where>
        GROUP BY group_id, price, effect_start_date
        ) t
        WHERE 1=1
        <if test="gatewayIdList != null and gatewayIdList.size() > 0">
            AND has_target_gateway = 1
        </if>
    </sql>

    <select id="selectTotalCount" resultType="java.lang.Long">
        SELECT  count(*) <include refid="commonListQuery"/>
    </select>

    <select id="selectList" resultType="com.br.marketing.dto.LineAccountDetailDTO">
        SELECT
        group_id,line_supplier_id,gateway_ids,price,effect_start_date,effect_end_date,
        create_time,update_time,enabled,is_delete
        <include refid="commonListQuery"/>
        ORDER BY update_time DESC
        LIMIT #{limitSize} OFFSET #{offset}
    </select>

    <select id="selectListByGroupId" resultType="com.br.marketing.dto.LineAccountDetailDTO">
        SELECT
            group_id,
            line_supplier_id,
            GROUP_CONCAT(DISTINCT gateway_id ORDER BY gateway_id SEPARATOR ',') as gateway_ids,
            price,
            effect_start_date,
            effect_end_date,
            create_time,
            update_time,
            enabled,
            is_delete
        FROM b_marketing_line_account_detail_normal
        where
            is_delete = 0
          AND group_id = #{groupId}
        GROUP BY group_id, price, effect_start_date
        ORDER BY update_time desc
    </select>

    <select id="selectCount" resultType="java.lang.Long">
        select
            count(*)
        from
            b_marketing_line_account_detail_normal
        where
            line_supplier_id = #{lineSupplierId}
          and gateway_id = #{gatewayId}
          and is_delete = 0
    </select>
</mapper>