<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.br.marketing.mapper.LoanFileMapper">

	<select id="queryFilePath" parameterType="map" resultType="com.br.marketing.entity.LoanFile">
		SELECT
			*
		FROM
			stra_his_file
		WHERE
			api_code = #{apiCode}
		<if test="batchNumber!=null">
		AND batch_number = #{batchNumber}
		</if>
		AND create_time >date_add(curdate(), interval -1 day)
		<if test="fileName!=null">
		AND zipFile_name=#{fileName}
		</if>
		</select>

	<select id="queryTadayTaskStatus" resultType="java.lang.Integer" parameterType="java.lang.String">
		 select status from stra_his_file where api_code=#{apiCode} and  create_time>=CURDATE() group by status
	</select>
	<select id="queryTotalDataNum" parameterType="java.lang.String" resultType="map">
		SELECT
			sum(expected_num) AS expecteDataNum,
			sum(actual_num) AS actualDataNum
		FROM
			stra_his_file
		WHERE
			api_code = #{apiCode}
			AND status=0
		AND create_time >= date_add(curdate(), interval -1 day)
	</select>

	
	<select id="getApiCodes" resultType="java.lang.String">
		select api_code as apiCode from stra_his_file where create_time >=CURDATE();
	</select>
	<select id="queryEmptyFileListByApiCode" resultType="com.br.marketing.entity.LoanFile" parameterType="java.lang.String">
		SELECT
		id,
		api_code,
		zipFile_name,
		file_size,
		upload_time,
		actual_num,
		expected_num,
		batch_number,
		file_num
		FROM
		stra_his_file
		WHERE
		api_code = #{apiCode}
		AND
		create_time >=CURDATE()
		AND
		(
		file_size=0
		OR
		file_size is null
		)
	</select>
	<select id="querydataNumDiffListByApiCode" resultType="com.br.marketing.entity.LoanFile" parameterType="java.lang.String">
		SELECT
		id,
		api_code,
		zipFile_name,
		file_size,
		upload_time,
		actual_num,
		expected_num,
		batch_number,
		file_num
		FROM
		stra_his_file
		WHERE
		api_code = #{apiCode}
		AND
		create_time >=CURDATE()
		AND
		actual_num &lt;&gt; expected_num
	</select>

	<select id="queryResultByApiCode" resultType="com.br.marketing.entity.LoanFile" parameterType="java.lang.String">
		SELECT
		id,
		api_code,
		zipFile_name,
		file_size,
		upload_time,
		actual_num,
		expected_num,
		batch_number,
		file_num,
		status
		FROM
		stra_his_file
		WHERE
		api_code = #{apiCode}
		AND status=0
		AND
		create_time >=date_add(curdate(), interval -1 day);
	</select>



	<select id="queryTodayFile" resultType="com.br.marketing.entity.LoanFile" parameterType="java.lang.String">
		SELECT
		 id,
		 api_code,
		 batch_number,
		 file_path,
		 create_time,
		 update_time,
		 status,
 		 `type`,
 		 zipFile_name
 		 FROM
 		 stra_his_file
 		 WHERE
 		 api_code=#{apiCode}
 		 AND
		 create_time>date_add(curdate(), interval -1 day)
		 AND
		 status =0
	</select>

	<select id="queryBlf" parameterType="java.lang.String" resultType="com.br.marketing.entity.LoanFile">
		SELECT
		 id,
		 api_code,
		 batch_number,
		 file_path,
		 create_time,
		 update_time,
		 status,
 		 `type`,
 		 zipFile_name,
 		 error_file,
 		 file_num
 		 FROM
 		 stra_his_file
 		 WHERE
 		 batch_number=#{batchNumber}
 		 AND
		 create_time>curdate()
	</select>

    <select id="queryFile" resultType="com.br.marketing.entity.LoanFile" parameterType="java.lang.String">
		SELECT
			id,
			batch_number,
			api_code,
			`type`,
			file_path,
			create_time,
		   	index_num
		FROM
			stra_his_file
		WHERE
			 `status` = 1
		<if test="_parameter!=null">
			AND `api_code` =#{apiCode}
		</if>
    </select>

	<select id="queryFileById" resultType="com.br.marketing.entity.LoanFile" parameterType="java.lang.Long">
		SELECT
		id,
		batch_number,
		api_code,
		`type`,
		file_path,
		create_time,
		index_num
		FROM
		stra_his_file
		WHERE
		`status` = 1 and id = #{id}
	</select>
	<select id="queryUploadFile" resultType="com.br.marketing.entity.LoanFile" parameterType="java.lang.String">
		SELECT
		id,
		batch_number,
		api_code,
		`type`,
		file_path,
        zipFile_name,
		create_time
		FROM
		stra_his_file
		WHERE
		`status` = 0
		AND create_time>date_add(curdate(), interval -1 day)
		<if test="_parameter!=null">
			AND `api_code` =#{apiCode}
		</if>
	</select>

	<select id="queryBlfBySignStatus" resultType="java.lang.Integer">
		SELECT
			count(*) as num
		FROM
			stra_his_file
		WHERE
			api_code = #{apiCode}
		AND create_time >= date_add(curdate(), interval -1 day)
		AND status=0
		AND (sign_file_status=2
		OR zip_status=2)
	</select>

	<update id="updateZipFileStatus" parameterType="map">
		UPDATE  stra_his_file
		SET  zip_status=1,
		update_time=now(),
		md5=#{md5}
		where
		api_code=#{apiCode}
		AND
		create_time>date_add(curdate(), interval -1 day)
		<if test="fileName!=null">
			AND zipFile_name=#{fileName}
		</if>
		<if test="batchNumber!=null">
			AND batch_number=#{batchNumber}
		</if>
		<if test="dataType!=null">
			AND data_type=2
		</if>
	</update>

	<update id="updateStatus" parameterType="map">
        UPDATE stra_his_file
        SET status=2,
        update_time=now()
        where api_code = #{apiCode}
        AND zipFile_name = #{fileName}
        <if test="batchNumber != null">
            AND batch_number = #{batchNumber}
        </if>
    </update>

	<update id="update" parameterType="com.br.marketing.entity.LoanFile">
		UPDATE stra_his_file
		SET is_delete =1,
		update_time=now()
		WHERE
		id =#{id}
	</update>
	<update id="updateFile" parameterType="com.br.marketing.entity.LoanFile">
		UPDATE stra_his_file
		SET status =0,
		zipFile_name=#{zipFileName},
		error_file=#{errorFile},
		update_time=now(),
		statistic_file_path=#{statisticFilePath},
		score_status=#{scoreStatus}
		<if test="actualNum!=null">
		,actual_num=#{actualNum}
		</if>
		<if test="fileName !=null and fileName !=''">
			,file_name = #{fileName}
		</if>
		<if test="innerFtpPath !=null and innerFtpPath !=''">
			,inner_ftp_path = #{innerFtpPath}
		</if>
		WHERE
		id =#{id}
	</update>

	<update id="updateSignFileStatus" parameterType="java.lang.String">
		update stra_his_file set sign_file_status=2 where api_code=#{apiCode} and   create_time>=date_add(curdate(), interval -1 day)
	</update>
	<update id="updateFtpFileInfo" parameterType="com.br.marketing.entity.LoanFile">
		UPDATE  stra_his_file
		SET  upload_time=#{updateTime},
		file_size=#{fileSize},
		actual_num=#{actualNum},
		file_num=#{fileNum}
		where
		api_code=#{apiCode}
		AND
		batch_number=#{batchNumber}
		AND
		create_time>date_add(curdate(), interval -1 day)

	</update>


	<insert id="insertFile" parameterType="com.br.marketing.entity.LoanFile" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO  stra_his_file (
		    `api_code`,
        	`batch_number`,
        	`create_time`,
        	`update_time`,
        	`status`,
        	`type`,
        	file_path,
        	expected_num,
			show_title,
			push_type,
		    index_num
        	)
        	 VALUES (
        	 #{apiCode},
        	 #{batchNumber},
        	 now(),
        	 now(),
        	 #{status},
        	 #{type},
        	 #{filePath},
        	 #{expectedNum},
			 #{showTitle},
			 #{pushType},
			 #{indexNum}
        	 )
	</insert>
	<update id="updateFileComplete" parameterType="map">
		UPDATE  stra_his_file
		SET  status=1,
		update_time=now()
		where
		api_code=#{apiCode}
		AND batch_number=#{batchNumber}
		AND status=3
		AND create_time>date_add(curdate(), interval -1 day)

	</update>
	<select id="selectFileComplete" parameterType="map" resultType="com.br.marketing.entity.LoanFile">
		select
		id,batch_number
		 from
		 stra_his_file
		where
		api_code=#{apiCode}
		AND batch_number=#{batchNumber}
	  	AND status=3
		AND create_time>date_add(curdate(), interval -1 day)

	</select>
</mapper>
