<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.auth.MarketingResourceMapper" >
    <resultMap id="BaseResultMap" type="com.br.marketing.entity.auth.MarketingResource" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="icon" property="icon" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="authority" property="authority" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="parent_id" property="parentId" jdbcType="INTEGER" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="english_name" property="englishName" jdbcType="VARCHAR" />
        <result column="category" property="category" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
        id, icon, name, authority, url, type, parent_id, sort, status, english_name, category,
    create_time, update_time
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.br.marketing.entity.auth.MarketingResourceExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from b_marketing_resource
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from b_marketing_resource
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from b_marketing_resource
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.br.marketing.entity.auth.MarketingResourceExample" >
        delete from b_marketing_resource
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.br.marketing.entity.auth.MarketingResource" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into b_marketing_resource (icon, name, authority,
        url, type, parent_id,
        sort, status, english_name,
        category, create_time, update_time
        )
        values (#{icon,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{authority,jdbcType=VARCHAR},
        #{url,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER},
        #{sort,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{englishName,jdbcType=VARCHAR},
        #{category,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.br.marketing.entity.auth.MarketingResource" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into b_marketing_resource
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="icon != null" >
                icon,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="authority != null" >
                authority,
            </if>
            <if test="url != null" >
                url,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="parentId != null" >
                parent_id,
            </if>
            <if test="sort != null" >
                sort,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="englishName != null" >
                english_name,
            </if>
            <if test="category != null" >
                category,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="icon != null" >
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="authority != null" >
                #{authority,jdbcType=VARCHAR},
            </if>
            <if test="url != null" >
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                #{type,jdbcType=INTEGER},
            </if>
            <if test="parentId != null" >
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="sort != null" >
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="englishName != null" >
                #{englishName,jdbcType=VARCHAR},
            </if>
            <if test="category != null" >
                #{category,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.br.marketing.entity.auth.MarketingResourceExample" resultType="java.lang.Integer" >
        select count(*) from b_marketing_resource
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
        update b_marketing_resource
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.icon != null" >
                icon = #{record.icon,jdbcType=VARCHAR},
            </if>
            <if test="record.name != null" >
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.authority != null" >
                authority = #{record.authority,jdbcType=VARCHAR},
            </if>
            <if test="record.url != null" >
                url = #{record.url,jdbcType=VARCHAR},
            </if>
            <if test="record.type != null" >
                type = #{record.type,jdbcType=INTEGER},
            </if>
            <if test="record.parentId != null" >
                parent_id = #{record.parentId,jdbcType=INTEGER},
            </if>
            <if test="record.sort != null" >
                sort = #{record.sort,jdbcType=INTEGER},
            </if>
            <if test="record.status != null" >
                status = #{record.status,jdbcType=INTEGER},
            </if>
            <if test="record.englishName != null" >
                english_name = #{record.englishName,jdbcType=VARCHAR},
            </if>
            <if test="record.category != null" >
                category = #{record.category,jdbcType=INTEGER},
            </if>
            <if test="record.createTime != null" >
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null" >
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map" >
        update b_marketing_resource
        set id = #{record.id,jdbcType=INTEGER},
        icon = #{record.icon,jdbcType=VARCHAR},
        name = #{record.name,jdbcType=VARCHAR},
        authority = #{record.authority,jdbcType=VARCHAR},
        url = #{record.url,jdbcType=VARCHAR},
        type = #{record.type,jdbcType=INTEGER},
        parent_id = #{record.parentId,jdbcType=INTEGER},
        sort = #{record.sort,jdbcType=INTEGER},
        status = #{record.status,jdbcType=INTEGER},
        english_name = #{record.englishName,jdbcType=VARCHAR},
        category = #{record.category,jdbcType=INTEGER},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.br.marketing.entity.auth.MarketingResource" >
        update b_marketing_resource
        <set >
            <if test="icon != null" >
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="authority != null" >
                authority = #{authority,jdbcType=VARCHAR},
            </if>
            <if test="url != null" >
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="parentId != null" >
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="sort != null" >
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="englishName != null" >
                english_name = #{englishName,jdbcType=VARCHAR},
            </if>
            <if test="category != null" >
                category = #{category,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.br.marketing.entity.auth.MarketingResource" >
        update b_marketing_resource
        set icon = #{icon,jdbcType=VARCHAR},
            name = #{name,jdbcType=VARCHAR},
            authority = #{authority,jdbcType=VARCHAR},
            url = #{url,jdbcType=VARCHAR},
            type = #{type,jdbcType=INTEGER},
            parent_id = #{parentId,jdbcType=INTEGER},
            sort = #{sort,jdbcType=INTEGER},
            status = #{status,jdbcType=INTEGER},
            english_name = #{englishName,jdbcType=VARCHAR},
            category = #{category,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="getResourcesByUid" resultType="com.br.marketing.entity.auth.MarketingResource">
        select distinct r.id,
                        r.icon,
                        r.name,
                        r.authority,
                        r.url,
                        r.type,
                        r.parentId,
                        r.sort,
                        r.englishName,
                        r.category,
                        r.isDelete
        from role
                 inner join user_role ur on role.id = ur.roleId
                 inner join role_resource rr on ur.roleId = rr.roleId
                 inner join resource r on rr.resourceId = r.id
        where ur.userId = #{userId}
          and role.isDelete = 0
          and ur.isDelete = 0
          and rr.isDelete = 0
          and r.isDelete = 0
    </select>
</mapper>