<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.MarketingTcyrCpaFailFileMapper" >
    <select id="selectFileByFilePath" resultType="com.br.marketing.entity.MarketingTcyrCpaFailFile">
        SELECT *
        FROM b_tcyr_cpa_fail_file
        WHERE api_code =#{apiCode}
          AND file_path = #{filePath}
          AND is_del = 1
            LIMIT 1
    </select>
</mapper>