<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.MarketingCleanDataTaskMapper">


    <select id="getTaskList" resultType="com.br.marketing.vo.dataclean.DataCleanTaskVO">
        SELECT
        t.id,t.api_code,t.config_id,t.file_id,t.clean_type as fileType,t.test_result,t.clean_status,t.create_time,t.update_time,c.field_config_show as ruleCondition
        FROM
        b_marketing_clean_data_task t
        left join b_marketing_data_file_config c
        on t.config_id = c.id
        <where>
               t.auto_clean_way_type=0
            <if test="fileType!= null">
                AND t.clean_type=#{fileType}
            </if>
            <if test="status!= null">
                AND t.clean_status=#{status}
            </if>
            <if test="apiCode!= null">
                AND t.api_code=#{apiCode}
            </if>
        </where>
        order by t.create_time desc
    </select>

    <update id="updateMarketingCleanDataTaskById">
        update b_marketing_clean_data_task
        set clean_status=#{cleanStatus}
        where id=#{id}
    </update>
</mapper>