<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.MarketingTcyrCpaTransferRecordMapper" >


    <select id="selectTcyrTransforRecordList" resultType="com.br.marketing.entity.MarketingTcyrCpaTransferRecord">
        SELECT *
        FROM b_tcyr_cpa_transfer_record
        WHERE id > #{lastSearchId}
          AND api_code = #{apiCode}
          AND status = #{status}
          AND is_del = 1
          AND is_clean = 0
        ORDER BY id ASC
            LIMIT #{searchSize}
    </select>

    <update id="updateCleanStatus">
        UPDATE b_tcyr_cpa_transfer_record
        SET is_clean = #{cleanStatus}
        <where>
            <choose>
                <when test="idList != null and idList.size() > 0">
                    id IN
                    <foreach collection="idList" item="id" open="(" separator="," close=")">
                        #{id}
                    </foreach>
                </when>
                <otherwise>
                    1 = 0 <!-- 空列表时不更新任何数据 -->
                </otherwise>
            </choose>
        </where>
    </update>
</mapper>