<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.MarketingRuleCenterHaloCallbackDataMapper" >
    <resultMap id="BaseResultMap" type="com.br.marketing.entity.MarketingRuleCenterHaloCallbackData" >
        <result column="api_code" property="apiCode" jdbcType="VARCHAR" />
        <result column="m_id" property="mId" jdbcType="BIGINT" />
        <result column="cus_num" property="cusNum" jdbcType="VARCHAR" />
        <result column="cell" property="cell" jdbcType="VARCHAR" />
        <result column="batch_number" property="batchNumber" jdbcType="VARCHAR" />
        <result column="section" property="section" jdbcType="INTEGER" />
        <result column="extend" property="extend" jdbcType="VARCHAR" />
    </resultMap>
    <update id="updateStatus">
        update b_marketing_rule_center_halo_callback_data
        set status = ${status}
        where
        id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="selectByTaskIdAndBatchNumber" resultType="map">
        select id,cus_num as custNum,cell,section
        from b_marketing_rule_center_halo_callback_data
        where
        m_id = ${taskId}
        and api_code = ${apiCode}
        and status = ${status}
        <if test="minId != null and minId >0">
            <![CDATA[ and id>#{minId} ]]>
        </if>
        order by id asc
        limit ${pageSize}
    </select>


</mapper>