<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.MarketingDataValidConfigMapper">
    <select id="findListByApiCodeAndUserType" resultType="com.br.marketing.entity.MarketingDataValidConfig">
        select t1.applet_date, t1.user_type, t1.valid_start_date, t1.valid_end_date, t1.create_time, t1.update_time
        from (select user_type,
                     max(applet_date) as applet_date,
                     max(create_time) as create_time,
                     max(update_time) as update_time
              from b_marketing_data_valid_config
              where api_code = '${apiCode}'
                and is_del = 1
                and valid_type = 1
              group by user_type) t2
                 left join b_marketing_data_valid_config t1
                           on t2.user_type = t1.user_type and t2.applet_date = t1.applet_date and
                              t2.update_time = t1.update_time and t1.create_time = t2.create_time
        where t1.is_del = 1
          and t1.valid_type = 1
    </select>

    <select id="findListByApiCodeAndUserTypeSetPagetikv_" resultType="com.br.marketing.entity.MarketingDataValidConfig">
        select t2.id               as id,
               t1.applet_date      as appletDate,
               t1.user_type        as userType,
               t1.valid_start_date as validStartDate,
               t1.valid_end_date   as validEndDate,
               t1.create_time      as createTime,
               t1.update_time      as updateTime
        from (select id
              from b_marketing_data_valid_config
        where api_code = '${apiCode}'
          and is_del = 1
          and valid_type = 1
        <if test="userTypeSet != null and userTypeSet.size() > 0">
            <choose>
                <when test="userTypeSet.size() == 1">
                    <foreach collection="userTypeSet" item="userType" separator="" open="" close="">
                        and user_type='${userType}'
                    </foreach>
                </when>
                <otherwise>
                    and user_type in
                    <foreach collection="userTypeSet" item="userType" separator="," open="(" close=")">
                        '${userType}'
                    </foreach>
                </otherwise>
            </choose>
        </if>
        and <![CDATA[ valid_start_date <= '${dateStr}' ]]>
        and <![CDATA[ valid_end_date >= '${dateStr}'
        ]]>
        order by applet_date, update_time, create_time
        <if test="page != null and pageSize != null">
            limit ${page * pageSize},${pageSize}
        </if>
        ) t2
            left join b_marketing_data_valid_config t1 on t2.id = t1.id
        order by applet_date, update_time, create_time
    </select>

    <select id="queryStartDateEndDatetikv_" resultType="com.br.marketing.entity.MarketingDataValidConfig">
        select MIN(valid_start_date) as validStartDate, MAX(valid_end_date) as validEndDate
        from b_marketing_data_valid_config
        where api_code = '${apiCode}'
        <!--  is_del 1-有效；9-无效     -->
        and is_del = 1
        <!--  valid_type 1-有效期范围配置；2-有效期T+N配置；3-有效期T+N配置与场景（userType）     -->
        and valid_type = 1
        <if test="userTypeSet != null and userTypeSet.size() > 0">
            and user_type in
            <foreach collection="userTypeSet" item="userType" separator="," open="(" close=")">
                '${userType}'
            </foreach>
        </if>
        and <![CDATA[ valid_start_date <= '${dateStr}' ]]>
        and <![CDATA[ valid_end_date >= '${dateStr}']]>;
    </select>

    <select id="getValidPeriodRangeByApiCodeAndUserType" resultType="java.util.Map">
        SELECT api_code              as apiCode,
               min(valid_start_date) as validStartDate,
               max(valid_end_date)   as validEndDate
        FROM b_marketing_data_valid_config
        WHERE is_del = 1
          AND valid_type = 1
          AND DATE_FORMAT(NOW(),'%Y-%m-%d') between valid_start_date and valid_end_date
          AND (user_type, api_code) IN (SELECT user_type
                                             , api_code
                                        FROM b_marketing_data_valid_config
                                        WHERE id = #{id});
    </select>

    <select id="getValidityDataByApiCode" resultType="com.br.marketing.entity.MarketingDataValidConfig">
        SELECT *
        FROM b_marketing_data_valid_config
        WHERE is_del = 1
        AND valid_type = 1
        AND api_code = #{apiCode}
        <![CDATA[ AND valid_start_date <= #{appletDate} AND valid_end_date >= #{appletDate} ]]>
    </select>
    <select id="getValidityDataByAppletDate" resultType="com.br.marketing.entity.MarketingDataValidConfig">
        SELECT *
        FROM b_marketing_data_valid_config
        WHERE is_del = 1
          AND valid_type = 1
          AND api_code = #{apiCode}
        AND applet_date  = #{appletDate}
    </select>

    <select id="getValidPeriodRangeByApiCodeAndUserTypeAndOffsetDay" resultType="java.util.Map">
        SELECT api_code              as apiCode,
               min(valid_start_date) as validStartDate,
               max(valid_end_date)   as validEndDate
        FROM b_marketing_data_valid_config
        WHERE is_del = 1
          AND valid_type = 1
          AND DATE_FORMAT(DATE_SUB(NOW(), INTERVAL #{offsetDay,jdbcType=INTEGER} DAY), '%Y-%m-%d') between valid_start_date and valid_end_date
          AND (user_type, api_code) IN (SELECT user_type
                                             , api_code
                                        FROM b_marketing_data_valid_config
                                        WHERE id = #{id,jdbcType=BIGINT});
    </select>

    <update id="updateBatchById">
        update b_marketing_data_valid_config set valid_start_date = #{validStartDate},valid_end_date = #{validEndDate}
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="getAppletDateByApiCodeAndDateStr" resultType="java.lang.String">
        SELECT applet_date
        FROM b_marketing_data_valid_config
        WHERE is_del = 1
          AND valid_type = 1
          AND api_code = #{apiCode}
        <![CDATA[ AND valid_start_date <= '${dateStr}'
          AND valid_end_date >= '${dateStr}'
        ]]>
    </select>

</mapper>