<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.MarketingLineAccountDetailMapper" >

  <select id="selectLineIfExist" resultType="java.lang.Long">
    select gateway_id from b_marketing_line_account_detail
    where gateway_id in
    <foreach collection="gatewayIds" item="gatewayId" open="(" separator="," close=")">
      #{gatewayId}
    </foreach>
    <if test="configId != null and configId !=''">
      and config_id != #{configId}
    </if>
    and is_delete = 0
  </select>

  <select id="selectCount" resultType="java.lang.Long">
    select count(*) from b_marketing_line_account_detail
    where gateway_id = #{gateWayId}
      and is_delete = 0
  </select>

</mapper>