<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.br.marketing.mapper.MarketingCleanPersistTaskMapper">
  <resultMap id="BaseResultMap" type="com.br.marketing.entity.MarketingCleanPersistTask">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="clean_data_file_record_id" property="cleanDataFileRecordId" jdbcType="BIGINT" />
    <result column="sync_config_id" property="syncConfigId" jdbcType="BIGINT" />
    <result column="file_header" property="fileHeader" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="sftp_file_separator" property="sftpFileSeparator" jdbcType="VARCHAR" />
    <result column="local_path" property="localPath" jdbcType="VARCHAR" />
    <result column="header_mapping_id" property="headerMappingId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="total_row_count" property="totalRowCount" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">and ${criterion.condition}</when>
                <when test="criterion.singleValue">and ${criterion.condition} #{criterion.value}</when>
                <when test="criterion.betweenValue">and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}</when>
                <when test="criterion.listValue">and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">#{listItem}</foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">and ${criterion.condition}</when>
                <when test="criterion.singleValue">and ${criterion.condition} #{criterion.value}</when>
                <when test="criterion.betweenValue">and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}</when>
                <when test="criterion.listValue">and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">#{listItem}</foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, clean_data_file_record_id, sync_config_id, file_header, file_name, sftp_file_separator, local_path,
    header_mapping_id, `status`, total_row_count, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.br.marketing.entity.MarketingCleanPersistTaskExample">
    select <if test="distinct">distinct</if>
    <include refid="Base_Column_List" />
    from b_marketing_clean_persist_task
    <if test="_parameter != null"><include refid="Example_Where_Clause" /></if>
    <if test="orderByClause != null">order by ${orderByClause}</if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select <include refid="Base_Column_List" /> from b_marketing_clean_persist_task where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from b_marketing_clean_persist_task where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.br.marketing.entity.MarketingCleanPersistTaskExample">
    delete from b_marketing_clean_persist_task
    <if test="_parameter != null"><include refid="Example_Where_Clause" /></if>
  </delete>
  <insert id="insert" parameterType="com.br.marketing.entity.MarketingCleanPersistTask">
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
    insert into b_marketing_clean_persist_task (clean_data_file_record_id, sync_config_id, file_header, file_name, sftp_file_separator, local_path, header_mapping_id, `status`, total_row_count, create_time, update_time)
    values (#{cleanDataFileRecordId,jdbcType=BIGINT}, #{syncConfigId,jdbcType=BIGINT}, #{fileHeader,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{sftpFileSeparator,jdbcType=VARCHAR}, #{localPath,jdbcType=VARCHAR}, #{headerMappingId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{totalRowCount,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.br.marketing.entity.MarketingCleanPersistTask">
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">SELECT LAST_INSERT_ID()</selectKey>
    insert into b_marketing_clean_persist_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cleanDataFileRecordId != null">clean_data_file_record_id,</if>
      <if test="syncConfigId != null">sync_config_id,</if>
      <if test="fileHeader != null">file_header,</if>
      <if test="fileName != null">file_name,</if>
      <if test="sftpFileSeparator != null">sftp_file_separator,</if>
      <if test="localPath != null">local_path,</if>
      <if test="headerMappingId != null">header_mapping_id,</if>
      <if test="status != null">`status`,</if>
      <if test="totalRowCount != null">total_row_count,</if>
      <if test="createTime != null">create_time,</if>
      <if test="updateTime != null">update_time,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cleanDataFileRecordId != null">#{cleanDataFileRecordId,jdbcType=BIGINT},</if>
      <if test="syncConfigId != null">#{syncConfigId,jdbcType=BIGINT},</if>
      <if test="fileHeader != null">#{fileHeader,jdbcType=VARCHAR},</if>
      <if test="fileName != null">#{fileName,jdbcType=VARCHAR},</if>
      <if test="sftpFileSeparator != null">#{sftpFileSeparator,jdbcType=VARCHAR},</if>
      <if test="localPath != null">#{localPath,jdbcType=VARCHAR},</if>
      <if test="headerMappingId != null">#{headerMappingId,jdbcType=BIGINT},</if>
      <if test="status != null">#{status,jdbcType=INTEGER},</if>
      <if test="totalRowCount != null">#{totalRowCount,jdbcType=INTEGER},</if>
      <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
      <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.br.marketing.entity.MarketingCleanPersistTaskExample" resultType="java.lang.Long">
    select count(*) from b_marketing_clean_persist_task
    <if test="_parameter != null"><include refid="Example_Where_Clause" /></if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update b_marketing_clean_persist_task
    <set>
      <if test="record.id != null">id = #{record.id,jdbcType=BIGINT},</if>
      <if test="record.cleanDataFileRecordId != null">clean_data_file_record_id = #{record.cleanDataFileRecordId,jdbcType=BIGINT},</if>
      <if test="record.syncConfigId != null">sync_config_id = #{record.syncConfigId,jdbcType=BIGINT},</if>
      <if test="record.fileHeader != null">file_header = #{record.fileHeader,jdbcType=VARCHAR},</if>
      <if test="record.fileName != null">file_name = #{record.fileName,jdbcType=VARCHAR},</if>
      <if test="record.sftpFileSeparator != null">sftp_file_separator = #{record.sftpFileSeparator,jdbcType=VARCHAR},</if>
      <if test="record.localPath != null">local_path = #{record.localPath,jdbcType=VARCHAR},</if>
      <if test="record.headerMappingId != null">header_mapping_id = #{record.headerMappingId,jdbcType=BIGINT},</if>
      <if test="record.status != null">`status` = #{record.status,jdbcType=INTEGER},</if>
      <if test="record.totalRowCount != null">total_row_count = #{record.totalRowCount,jdbcType=INTEGER},</if>
      <if test="record.createTime != null">create_time = #{record.createTime,jdbcType=TIMESTAMP},</if>
      <if test="record.updateTime != null">update_time = #{record.updateTime,jdbcType=TIMESTAMP},</if>
    </set>
    <if test="_parameter != null"><include refid="Update_By_Example_Where_Clause" /></if>
  </update>
  <update id="updateByExample" parameterType="map">
    update b_marketing_clean_persist_task
    set id = #{record.id,jdbcType=BIGINT}, clean_data_file_record_id = #{record.cleanDataFileRecordId,jdbcType=BIGINT}, sync_config_id = #{record.syncConfigId,jdbcType=BIGINT}, file_header = #{record.fileHeader,jdbcType=VARCHAR}, file_name = #{record.fileName,jdbcType=VARCHAR}, sftp_file_separator = #{record.sftpFileSeparator,jdbcType=VARCHAR}, local_path = #{record.localPath,jdbcType=VARCHAR}, header_mapping_id = #{record.headerMappingId,jdbcType=BIGINT}, `status` = #{record.status,jdbcType=INTEGER}, total_row_count = #{record.totalRowCount,jdbcType=INTEGER}, create_time = #{record.createTime,jdbcType=TIMESTAMP}, update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null"><include refid="Update_By_Example_Where_Clause" /></if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.br.marketing.entity.MarketingCleanPersistTask">
    update b_marketing_clean_persist_task
    <set>
      <if test="cleanDataFileRecordId != null">clean_data_file_record_id = #{cleanDataFileRecordId,jdbcType=BIGINT},</if>
      <if test="syncConfigId != null">sync_config_id = #{syncConfigId,jdbcType=BIGINT},</if>
      <if test="fileHeader != null">file_header = #{fileHeader,jdbcType=VARCHAR},</if>
      <if test="fileName != null">file_name = #{fileName,jdbcType=VARCHAR},</if>
      <if test="sftpFileSeparator != null">sftp_file_separator = #{sftpFileSeparator,jdbcType=VARCHAR},</if>
      <if test="localPath != null">local_path = #{localPath,jdbcType=VARCHAR},</if>
      <if test="headerMappingId != null">header_mapping_id = #{headerMappingId,jdbcType=BIGINT},</if>
      <if test="status != null">`status` = #{status,jdbcType=INTEGER},</if>
      <if test="totalRowCount != null">total_row_count = #{totalRowCount,jdbcType=INTEGER},</if>
      <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
      <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.br.marketing.entity.MarketingCleanPersistTask">
    update b_marketing_clean_persist_task
    set clean_data_file_record_id = #{cleanDataFileRecordId,jdbcType=BIGINT}, sync_config_id = #{syncConfigId,jdbcType=BIGINT}, file_header = #{fileHeader,jdbcType=VARCHAR}, file_name = #{fileName,jdbcType=VARCHAR}, sftp_file_separator = #{sftpFileSeparator,jdbcType=VARCHAR}, local_path = #{localPath,jdbcType=VARCHAR}, header_mapping_id = #{headerMappingId,jdbcType=BIGINT}, `status` = #{status,jdbcType=INTEGER}, total_row_count = #{totalRowCount,jdbcType=INTEGER}, create_time = #{createTime,jdbcType=TIMESTAMP}, update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
