<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.MarketingTcyrCustCellMappingMapper" >


    <select id="selectCellBySyncId" resultType="java.lang.String">
        SELECT
            cell_md5
        FROM b_marketing_sync_${apiCode}
        WHERE id = #{id}  AND status = 1 AND is_repeat in (1,2)
    </select>


    <select id="selectCellInfotikv_" resultType="java.util.Map">
        SELECT
            id AS custNum,
            cell_md5 AS cell
        FROM b_marketing_sync_${apiCode}
        WHERE id IN
            <foreach collection="idList" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        AND status = 1 AND is_repeat in (1,2)
    </select>




</mapper>