<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.PhoneBlackMapper" >
    <select id="selectDateByIdRang" resultType="com.br.marketing.entity.PhoneBlack">
        select * from b_phone_black
        where local_id = #{localId}
        <if test="minId !=null and minId >0">
            and id >#{minId}
        </if>
        order by id asc limit 500
    </select>
</mapper>