<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.PhoneSaleExtendInfoMapper" >
    <select id="getDxRecordByTransferType" parameterType="com.br.marketing.dto.PhoneSaleRecordInfoDTO" resultType="com.br.marketing.vo.PhoneSaleInfoVO">
        select id,cust_num as custNum,dx_type as dxType,`type`
        from b_phone_sale_extend_info
        where api_code = #{apiCode}
        and cust_num in
        <foreach collection="custNums" item="custNum" open="(" close=")" separator=",">
            #{custNum}
        </foreach>
        and p_status = 2
        and transform_type = #{transferType}
        <if test="startDate !=null and startDate !=''">
            <![CDATA[ and applet_date >= #{startDate} ]]>
        </if>
        <if test="endDate !=null and endDate !=''">
            <![CDATA[ and applet_date <= #{endDate} ]]>
        </if>
    </select>

    <select id="getDxRecordLastOne" parameterType="com.br.marketing.dto.PhoneSaleRecordInfoDTO" resultType="com.br.marketing.vo.PhoneSaleInfoVO">
        select b.cust_num as custNum,b.dx_type as dxType,b.`type`,b.applet_date from
        (
        select cust_num,max(applet_date) as applet_date
        from b_phone_sale_extend_info
        where api_code = #{apiCode}
          and cust_num in
        <foreach collection="custNums" item="custNum" open="(" separator="," close=")">
            #{custNum}
        </foreach>
        and p_status = 2
        and transform_type = #{transferType}
        group by cust_num
        ) as a
        left join b_phone_sale_extend_info b on a.cust_num = b.cust_num and a.applet_date = b.applet_date
        where b.api_code = #{apiCode} and b.p_status = 2 and b.transform_type = #{transferType}
    </select>

    <select id="getDxRecordLastTwo" parameterType="com.br.marketing.dto.PhoneSaleRecordInfoDTO" resultType="com.br.marketing.vo.PhoneSaleInfoVO">
        select b.cust_num as custNum,b.dx_type as dxType,b.`type`,b.applet_date from
        (
        select cust_num,max(applet_date) as applet_date
        from b_phone_sale_extend_info
        where api_code = #{apiCode} and p_status = 2
        and transform_type = #{transferType} and
        <foreach collection="custNumAndApplets" item="custNumAndApplet" open="(" separator="or" close=")">
            <![CDATA[ (cust_num = #{custNumAndApplet.custNum} and applet_date < #{custNumAndApplet.appletDate})]]>
        </foreach>
        group by cust_num
        ) as a
        left join b_phone_sale_extend_info b on a.cust_num = b.cust_num and a.applet_date = b.applet_date
        where b.api_code = #{apiCode} and b.p_status = 2 and b.transform_type = #{transferType}
    </select>
<!--    <select id="getDxRecordLastTwo" parameterType="com.br.marketing.dto.PhoneSaleRecordInfoDTO" resultType="com.br.marketing.vo.PhoneSaleInfoVO">-->
<!--        select-->
<!--        *-->
<!--        from-->
<!--        (-->
<!--            select-->
<!--            a.cust_num as custNum,-->
<!--            a.applet_date,-->
<!--            a.dx_type as dxType,a.`type`,-->
<!--            count(*) as rowNo-->
<!--            from-->
<!--            b_phone_sale_extend_info a-->
<!--            left join b_phone_sale_extend_info b on-->
<!--            a.cust_num = b.cust_num-->
<!--            <![CDATA[ and a.applet_date <= b.applet_date ]]>-->
<!--            where-->
<!--            a.api_code = #{apiCode}-->
<!--            and a.transform_type = #{transferType}-->
<!--            and a.cust_num in-->
<!--            <foreach collection="custNums" item="custNum" open="(" close=")" separator=",">-->
<!--                #{custNum}-->
<!--            </foreach>-->
<!--            and b.api_code = #{apiCode}-->
<!--            and b.transform_type = #{transferType}-->
<!--            and b.cust_num in-->
<!--            <foreach collection="custNums" item="custNum" open="(" close=")" separator=",">-->
<!--                #{custNum}-->
<!--            </foreach>-->
<!--            group by-->
<!--            a.cust_num,-->
<!--            a.applet_date-->
<!--            order by-->
<!--            a.cust_num,-->
<!--            a.applet_date desc-->
<!--        ) as tt-->
<!--        where-->
<!--        tt.rowNo in(1,2)-->
<!--    </select>-->
    <select id="getDxRecordCustByTransferType" parameterType="com.br.marketing.dto.PhoneSaleRecordInfoDTO" resultType="java.lang.String">
        select cust_num
        from b_phone_sale_extend_info
        where api_code = #{apiCode}
        and cust_num in
        <foreach collection="custNums" item="custNum" open="(" close=")" separator=",">
            #{custNum}
        </foreach>
        and p_status = 2
        and transform_type = #{transferType}
        <![CDATA[ and applet_date >= #{startDate} ]]>
        <![CDATA[ and applet_date <= #{endDate} ]]>
    </select>
    <select id="countByPhoneAndType" resultType="java.lang.Integer">
        select count(*)
        from b_phone_sale_extend_info
        where dx_type = #{dxType}
        and applet_date = #{date}
        and phone = #{phone}
    </select>
    <select id="getPPDToDxData" resultType="com.br.marketing.entity.PhoneSaleExtendInfo">
        select * from b_phone_sale_extend_info
        where api_code =#{apiCode}
        <![CDATA[ AND push_dx_time >= #{startDate} and push_dx_time < #{endDate} ]]>
        order by push_dx_time desc,id desc limit #{limitStart},2000;
    </select>
    <insert id="saveBatch" parameterType="list">
        insert into b_phone_sale_extend_info (api_code, cust_num,cell, task_id,
        user_type, applet_date, applet_time,
        status, p_status, create_time,
        update_time, type, dx_type,
        push_dx_time, transform_type, source_id
        )values
         <foreach collection="list" item="data" separator=",">
             (#{data.apiCode,jdbcType=VARCHAR}, #{data.custNum,jdbcType=VARCHAR},#{data.cell,jdbcType=VARCHAR}, #{data.taskId,jdbcType=VARCHAR},
             #{data.userType,jdbcType=VARCHAR}, #{data.appletDate,jdbcType=VARCHAR}, #{data.appletTime,jdbcType=VARCHAR},
             #{data.status,jdbcType=VARCHAR}, #{data.pStatus,jdbcType=INTEGER}, #{data.createTime,jdbcType=TIMESTAMP},
             #{data.updateTime,jdbcType=TIMESTAMP}, #{data.type,jdbcType=VARCHAR}, #{data.dxType,jdbcType=VARCHAR},
             #{data.pushDxTime,jdbcType=TIMESTAMP}, #{data.transformType,jdbcType=VARCHAR}, #{data.sourceId,jdbcType=BIGINT}
             )
         </foreach>
    </insert>

    <update id="updateBatch">
        update b_phone_sale_extend_info set p_status = 2,push_dx_time = now() where p_status = 1 and source_id in
        <foreach collection="set" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="findPushPhoneSaleListPage" resultType="com.br.marketing.entity.PhoneSaleExtendInfo">
        select t1.id, cust_num, create_time
        from b_phone_sale_extend_info t1
           , (select id
              from b_phone_sale_extend_info
              where api_code = #{apiCode}
                and user_type = #{userType}
        <![CDATA[ and create_time >= #{startDateTime} ]]>
        <![CDATA[ and create_time < #{endDateTime} ]]>
        and ifnull(task_id, '0') != '0'
                and ifnull(status, '0') != '0'
              order by id
                  limit ${(pageNum - 1) * pageSize}, #{pageSize}) as t2
        where t2.id = t1.id
    </select>

    <select id="getJuziPushThreeRecordtikv_" resultType="java.lang.String">
        select cust_num from b_phone_sale_extend_info
        where
        cust_num in
        <foreach collection="custNums" item="custNum" open="(" separator="," close=")">
            #{custNum}
        </foreach>
        AND api_code = #{apiCode}
        AND create_time >= #{recordDate}
        AND (status = 'a' or status = 'a1' or status = 'b' or status = 'b1')
        group by cust_num HAVING count(cust_num) >= 3
    </select>

    <select id="getCustNumByCustNumAndStatusAndDateSet" resultType="java.lang.String">
        select cust_num from b_phone_sale_extend_info
        where api_code = '${apiCode}'
        and cust_num in
        <foreach collection="custNumSet" item="custNum" open="(" separator="," close=")">
            '${custNum}'
        </foreach>
        and status in
        <foreach collection="statusList" item="status" open="(" separator="," close=")">
            '${status}'
        </foreach>
        and <![CDATA[create_time >= #{appletDate}]]> group by cust_num
    </select>

    <select id="findOrangeCyclicalPage" resultType="com.br.marketing.entity.PhoneSaleExtendInfo">
        select * from b_phone_sale_extend_info a
        where
        <foreach collection="dateSet" item="date" open="(" separator=" or " close=")">
            (<![CDATA[a.create_time >='${date} 00:00:00' and a.create_time <='${date} 23:59:59']]>)
        </foreach>
        and a.api_code=#{apiCode}
        and a.status=#{status}
        and a.transform_type='1'
        and a.p_status=2
        order by id
        limit ${(pageNum - 1) * pageSize}, #{pageSize}
    </select>

    <sql id="Example_Where_Clause_Custom">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Example_Where_Clause_Custom_1">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test='criterion.condition.contains("cell") or criterion.condition.contains("push_dx_time")'>
                                </when>
                                <otherwise>
                                    <choose>
                                        <when test='criterion.condition.startsWith("cell") or criterion.condition.startsWith("push_dx_time")'>
                                        </when>

                                        <when test="criterion.noValue">
                                            and ${criterion.condition}
                                        </when>
                                        <when test="criterion.singleValue">
                                            and ${criterion.condition} #{criterion.value}
                                        </when>
                                        <when test="criterion.betweenValue">
                                            and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                        </when>
                                        <when test="criterion.listValue">
                                            and ${criterion.condition}
                                            <foreach close=")" collection="criterion.value" item="listItem" open="("
                                                     separator=",">
                                                #{listItem}
                                            </foreach>
                                        </when>
                                    </choose>
                                </otherwise>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <select id="findListPageByExample" resultType="com.br.marketing.entity.PhoneSaleExtendInfo"
            parameterType="com.br.marketing.entity.PhoneSaleExtendInfoExample">
        select
        <if test="example.distinct">
            distinct
        </if>
        t1.*
        from b_phone_sale_extend_info t1
        , (select id
        from b_phone_sale_extend_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause_Custom"/>
        </if>
        <if test="example.orderByClause != null">
            order by ${example.orderByClause}
        </if>
        limit ${(pageNum - 1) * pageSize}, #{pageSize}) as t2
        where t2.id = t1.id
    </select>

    <select id="findListPageByExampleSqlStr" resultType="com.br.marketing.entity.PhoneSaleExtendInfo"
            parameterType="com.br.marketing.entity.PhoneSaleExtendInfoExample">
        select
        <if test="example.distinct">
            distinct
        </if>
        t1.*
        from b_phone_sale_extend_info t1
        , (select id
        from b_phone_sale_extend_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause_Custom"/>
        </if>
        <if test="sqlWhereStr != null and sqlWhereStr != ''">
            ${sqlWhereStr}
        </if>
        <if test="example.orderByClause != null">
            order by ${example.orderByClause}
        </if>
        limit ${(pageNum - 1) * pageSize}, #{pageSize}) as t2
        where t2.id = t1.id
    </select>

    <select id="getCustNumSettikv_" resultType="java.lang.String"
            parameterType="com.br.marketing.entity.PhoneSaleExtendInfoExample">
        select
        <if test="example.distinct">
            distinct
        </if>
        cust_num
        from b_phone_sale_extend_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause_Custom"/>
        </if>
        <if test="example.orderByClause != null">
            order by ${example.orderByClause}
        </if>
    </select>
    <select id="getToDassLogInfoList" resultType="java.lang.String">
        select
        cell
        from b_phone_sale_extend_info
        where api_code = #{apiCode}
        and cell in
        <foreach collection="cells" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        and date_format(now(),"%Y-%m-%d") = date_format(create_time,"%Y-%m-%d")


    </select>

    <select id="selectCustNumByExampletikv_" resultType="java.lang.String"
            parameterType="com.br.marketing.entity.PhoneSaleExtendInfoExample">
        select
        <if test="example.distinct">
            distinct
        </if>
        cust_num
        from b_phone_sale_extend_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause_Custom"/>
        </if>
        <if test="example.orderByClause != null">
            order by ${example.orderByClause}
        </if>
    </select>

    <select id="findInfoByMaxPushDxTimeAndCellList" resultType="com.br.marketing.entity.PhoneSaleExtendInfo"
            parameterType="com.br.marketing.entity.PhoneSaleExtendInfoExample">
        select t2.push_dx_time, t2.cust_num, t2.cell, t2.status, t2.group_no, t2.create_time
        from (select max(push_dx_time) as push_dx_time, cell
        from b_phone_sale_extend_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause_Custom"/>
        </if>
        group by cell) t1
        left join b_phone_sale_extend_info as t2
        on t1.push_dx_time = t2.push_dx_time and t1.cell = t2.cell
        <if test="_parameter != null">
            <include refid="Example_Where_Clause_Custom_1"/>
        </if>
        <if test="example.orderByClause != null">
            order by ${example.orderByClause}
        </if>
    </select>

</mapper>