<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.PhoneSaleTransferMapper" >
    <select id="getPushDassTransferData" resultType="com.br.marketing.client.dassservice.input.transfer.DassTransferDataDTO">
        select
        *
        from b_phone_sale_transfer
        where local_id = #{localId}
        and m_status =1
        <if test="dataId != null and dataId>0">
            and id > #{dataId}
        </if>
        order by id asc limit 500;
    </select>
</mapper>