<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.PhoneSaleIbuMapper" >
    <select id="getPushDassTransferData" resultType="com.br.marketing.entity.PhoneSaleIbu">
        select
        *
        from b_phone_sale_ibu
        where local_id = #{localId}
        and m_status =1
        <if test="dataId != null and dataId>0">
            and id > #{dataId}
        </if>
        order by id asc limit 50;
    </select>
</mapper>