<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.PushDecisionsMapper">

    <select id="getDecisionsListBySearch" resultType="com.br.marketing.vo.PushDecisionsDetailVO" parameterType="com.br.marketing.dto.SearchConditionDTO">
        select a.id,
        a.api_code,
        a.rule_number as ruleNumber,
        a.rule_name as ruleName,
        a.dependency_template_id as dependencyTemplateId,
        b.name as dependencyTemplateName,
        b.source_type as dependencyTemplateSource,
        a.status as status,
        a.auto_time as autoTime,
        a.push_datasets as pushDatasets,
        a.auto_refresh as autoRefresh,
        a.reach_strategy as reachStrategy,
        a.push_target as pushTarget,
        date_format(a.create_time,'%Y-%m-%d %T') as createTime,
        date_format(a.update_time,'%Y-%m-%d %T') as updateTime
        from b_marketing_push_decisions a
        left join b_score_search_condition as b on a.dependency_template_id = b.id
        where a.is_del = 1 and b.is_del = 1
        <if test="apiCode !=null and apiCode !=''">
            and a.api_code = #{apiCode}
        </if>
        <if test="name !=null and name !=''">
            and a.rule_name = #{name}
        </if>
        <if test="status !=null and status !=''">
            and a.status = #{status}
        </if>
        order by a.update_time desc
    </select>

</mapper>