<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.PushErrorLogMapper" >
  <resultMap id="BaseResultMap" type="com.br.marketing.entity.PushErrorLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="api_code" property="apiCode" jdbcType="VARCHAR" />
    <result column="batch_number" property="batchNumber" jdbcType="VARCHAR" />
    <result column="file_id" property="fileId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="request_str" property="requestStr" jdbcType="VARCHAR" />
    <result column="response_str" property="responseStr" jdbcType="VARCHAR" />
    <result column="push_times" property="pushTimes" jdbcType="INTEGER" />
    <result column="actual_push_times" property="actualPushTimes" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, api_code, batch_number, file_id, status, request_str, response_str, push_times, 
    actual_push_times, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.br.marketing.entity.PushErrorLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_marketing_push_error_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from b_marketing_push_error_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from b_marketing_push_error_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.br.marketing.entity.PushErrorLogExample" >
    delete from b_marketing_push_error_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.br.marketing.entity.PushErrorLog" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into b_marketing_push_error_log (api_code, batch_number, file_id, 
      status, request_str, response_str, 
      push_times, actual_push_times, create_time, 
      update_time)
    values (#{apiCode,jdbcType=VARCHAR}, #{batchNumber,jdbcType=VARCHAR}, #{fileId,jdbcType=BIGINT}, 
      #{status,jdbcType=INTEGER}, #{requestStr,jdbcType=VARCHAR}, #{responseStr,jdbcType=VARCHAR}, 
      #{pushTimes,jdbcType=INTEGER}, #{actualPushTimes,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.br.marketing.entity.PushErrorLog" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into b_marketing_push_error_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="apiCode != null" >
        api_code,
      </if>
      <if test="batchNumber != null" >
        batch_number,
      </if>
      <if test="fileId != null" >
        file_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="requestStr != null" >
        request_str,
      </if>
      <if test="responseStr != null" >
        response_str,
      </if>
      <if test="pushTimes != null" >
        push_times,
      </if>
      <if test="actualPushTimes != null" >
        actual_push_times,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="apiCode != null" >
        #{apiCode,jdbcType=VARCHAR},
      </if>
      <if test="batchNumber != null" >
        #{batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null" >
        #{fileId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="requestStr != null" >
        #{requestStr,jdbcType=VARCHAR},
      </if>
      <if test="responseStr != null" >
        #{responseStr,jdbcType=VARCHAR},
      </if>
      <if test="pushTimes != null" >
        #{pushTimes,jdbcType=INTEGER},
      </if>
      <if test="actualPushTimes != null" >
        #{actualPushTimes,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.br.marketing.entity.PushErrorLogExample" resultType="java.lang.Integer" >
    select count(*) from b_marketing_push_error_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update b_marketing_push_error_log
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.apiCode != null" >
        api_code = #{record.apiCode,jdbcType=VARCHAR},
      </if>
      <if test="record.batchNumber != null" >
        batch_number = #{record.batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.fileId != null" >
        file_id = #{record.fileId,jdbcType=BIGINT},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.requestStr != null" >
        request_str = #{record.requestStr,jdbcType=VARCHAR},
      </if>
      <if test="record.responseStr != null" >
        response_str = #{record.responseStr,jdbcType=VARCHAR},
      </if>
      <if test="record.pushTimes != null" >
        push_times = #{record.pushTimes,jdbcType=INTEGER},
      </if>
      <if test="record.actualPushTimes != null" >
        actual_push_times = #{record.actualPushTimes,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update b_marketing_push_error_log
    set id = #{record.id,jdbcType=BIGINT},
      api_code = #{record.apiCode,jdbcType=VARCHAR},
      batch_number = #{record.batchNumber,jdbcType=VARCHAR},
      file_id = #{record.fileId,jdbcType=BIGINT},
      status = #{record.status,jdbcType=INTEGER},
      request_str = #{record.requestStr,jdbcType=VARCHAR},
      response_str = #{record.responseStr,jdbcType=VARCHAR},
      push_times = #{record.pushTimes,jdbcType=INTEGER},
      actual_push_times = #{record.actualPushTimes,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.br.marketing.entity.PushErrorLog" >
    update b_marketing_push_error_log
    <set >
      <if test="apiCode != null" >
        api_code = #{apiCode,jdbcType=VARCHAR},
      </if>
      <if test="batchNumber != null" >
        batch_number = #{batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null" >
        file_id = #{fileId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="requestStr != null" >
        request_str = #{requestStr,jdbcType=VARCHAR},
      </if>
      <if test="responseStr != null" >
        response_str = #{responseStr,jdbcType=VARCHAR},
      </if>
      <if test="pushTimes != null" >
        push_times = #{pushTimes,jdbcType=INTEGER},
      </if>
      <if test="actualPushTimes != null" >
        actual_push_times = #{actualPushTimes,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.br.marketing.entity.PushErrorLog" >
    update b_marketing_push_error_log
    set api_code = #{apiCode,jdbcType=VARCHAR},
      batch_number = #{batchNumber,jdbcType=VARCHAR},
      file_id = #{fileId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      request_str = #{requestStr,jdbcType=VARCHAR},
      response_str = #{responseStr,jdbcType=VARCHAR},
      push_times = #{pushTimes,jdbcType=INTEGER},
      actual_push_times = #{actualPushTimes,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>