<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.ReportStatisticRuleMapper">

    <select id="selectReportList" resultType="com.br.marketing.dto.report.zhongan.ReportStatisticRule">
        select * from b_report_statistic_rule
            where report_type = #{reportType}
            <![CDATA[ and report_date >= #{reportDateStart} and report_date <  #{reportDateEnd}]]>
        order by report_date asc, create_time desc, report_order asc
    </select>

</mapper>


