<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.ReportTaskMapper">
    <select id="findListtikv_" resultType="com.br.marketing.vo.bi.ReportTaskVO">
        SELECT task.id,
               task.report_name,
               task.report_rules,
               task.download_url,
               task.status,
               task.down_status,
               task.report_type,
               task.group_count,
               task.is_del,
               task.create_time,
               task.update_time,
               GROUP_CONCAT(DISTINCT source.api_code ORDER BY source.id DESC SEPARATOR ',')     AS api_codes,
               GROUP_CONCAT(DISTINCT source.batch_number ORDER BY source.id DESC SEPARATOR ',') AS batch_numbers
        FROM b_report_task task
                 LEFT JOIN b_report_task_score_source source ON source.report_id = task.id
        <where>
            task.is_del = 1
            and task.report_type = 1
            <if test="name != null and name != ''">
                and task.report_name like CONCAT('%', #{name}, '%')
            </if>
            <if test="apiCodes != null and apiCodes.size() != 0">
                and source.api_code in
                <foreach collection="apiCodes" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY task.create_time, task.id
        ORDER BY task.create_time DESC,
                 task.id DESC
    </select>

    <select id="queryBiReportTaskListtikv_" resultType="com.br.marketing.vo.bi.BiReportTaskVO">
        select id,
               report_name,
               download_url,
               status,
               down_status,
               report_type,
               group_count,
               is_del,
               create_time,
               update_time,
               JSON_UNQUOTE(JSON_EXTRACT(report_rules,'$.upload.userType')) as userType,
               JSON_UNQUOTE(JSON_EXTRACT(report_rules,'$.upload.dimensionsField')) as dimensionsField,
               JSON_UNQUOTE(JSON_EXTRACT(report_rules,'$.score.batchNumber')) as batchNumber,
               JSON_UNQUOTE(JSON_EXTRACT(report_rules,'$.transfer.requestStartDate')) as requestStartDate,
               JSON_UNQUOTE(JSON_EXTRACT(report_rules,'$.transfer.requestEndDate')) as requestEndDate
        from b_report_task
        where
            is_del = 1
            <choose>
                <when test="reportType != null and reportType !=''">
                    and report_type = #{reportType}
                </when>
                <otherwise>
                    and report_type in (7,8,9)
                </otherwise>
            </choose>
            <if test="reportName != null and reportName !=''">
                and report_name like CONCAT('%', #{reportName}, '%')
            </if>
            <if test="userType != null and userType !=''">
                and JSON_EXTRACT(report_rules,'$.upload.userType') = #{userType}
            </if>
            <if test="dimensionsField != null and dimensionsField !=''">
                and JSON_EXTRACT(report_rules,'$.upload.dimensionsField') = #{dimensionsField}
            </if>
        GROUP BY create_time, id
        ORDER BY create_time DESC, id DESC
    </select>

    <select id="selectDataByIds" resultType="com.br.marketing.vo.bi.ReportTaskVO">
        SELECT task.id,
               task.report_name,
               task.report_rules,
               task.download_url,
               task.status,
               task.down_status,
               task.report_type,
               task.group_count,
               task.is_del,
               task.create_time,
               task.update_time,
               GROUP_CONCAT(DISTINCT source.api_code ORDER BY source.id DESC SEPARATOR ',') AS api_codes,
               GROUP_CONCAT(DISTINCT source.batch_number ORDER BY source.id DESC SEPARATOR ',') AS batch_numbers
        FROM b_report_task task
        LEFT JOIN b_report_task_score_source source ON source.report_id = task.id
        <where>
            task.is_del = 1
            and task.report_type = 1
            <if test="name != null and name != ''">
                and task.report_name like CONCAT('%', #{name}, '%')
            </if>
                and task.id in
                <foreach collection="reportIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
        </where>
        GROUP BY task.create_time, task.id
        ORDER BY task.create_time DESC,
        task.id DESC
    </select>

</mapper>