<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.RetryMainLogMapper" >
    <select id="getMinIdByNeedRetryData" resultType="java.lang.Long">
        select incr_id
        from b_retry_main_log
        where retry_status = 1
        order by incr_id asc limit 1;
    </select>

    <select id="getNeedRetryData" resultType="com.br.marketing.entity.RetryMainLog" parameterType="java.lang.Long">
        select *
        from b_retry_main_log
        where retry_status = 1
        and incr_id >= #{minId}
        order by incr_id asc limit 500;
    </select>

    <select id="getMinIdByNeedRetryWithMethodData" resultType="java.lang.Long">
        select incr_id
        from b_retry_main_log
        where retry_status = 4
          and retry_service = #{service}
          and retry_method = #{method}
        order by incr_id asc limit 1;
    </select>

    <select id="getNeedRetryWithMethodData" resultType="com.br.marketing.entity.RetryMainLog">
        select *
        from b_retry_main_log
        where retry_status = 4
          and retry_service = #{service}
          and retry_method = #{method}
          and incr_id >= #{minId}
        order by incr_id asc limit #{pageSize};
    </select>
</mapper>