<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.ScoreSearchConditionMapper">
    <select id="getScoreListBySearch" parameterType="com.br.marketing.dto.SearchConditionDTO"
            resultType="com.br.marketing.vo.ScoreConditionDetailVO">
        select a.id
        ,a.condition_number as conditionNumber
        ,b.api_code as apiCode
        ,a.name
        ,a.status
        ,content_show as contentShow
        ,tag_content as tagContent
        ,date_format(a.create_time,'%Y-%m-%d %T') as createTime
        ,date_format(a.update_time,'%Y-%m-%d %T') as updateTime
        from b_score_search_condition as a
        left join b_score_search_condition_mapping as b on b.condition_id = a.id
        where a.condition_type = 1 and a.is_del = 1 and b.is_del = 1
        <if test="apiCode !=null and apiCode !=''">
            and b.api_code = #{apiCode}
        </if>
        <if test="name !=null and name !=''">
            and a.name = #{name}
        </if>
        <if test="status !=null">
            and a.status = #{status}
        </if>
        order by a.update_time desc
    </select>

    <select id="getScoreCountBySearch" parameterType="com.br.marketing.dto.SearchConditionDTO"
            resultType="java.lang.Integer">
        select count(*)
        from b_score_search_condition as a
        left join b_score_search_condition_mapping as b on b.condition_id = a.id
        where a.condition_type = 1 and a.is_del = 1 and b.is_del = 1
        <if test="apiCode !=null and apiCode !=''">
            and b.api_code = #{apiCode}
        </if>
        <if test="name !=null and name !=''">
            and a.name = #{name}
        </if>
        <if test="status !=null">
            and a.status = #{status}
        </if>
    </select>

    <select id="getScoreByNameNumberList" resultType="com.br.marketing.vo.ConditionOfScoreVO">
        select `id`,`name`,`source_type`,`content`,`content_show`,`score_content`,`condition_number`,`tag_content`
        from b_score_search_condition
        where condition_type = 1
        and `status` = 1
        and `is_del` = 1
        and `id` in
        <foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
        <if test="searchTxt !=null and searchTxt !=''">
            and (`name` like CONCAT('%',#{searchTxt},'%') or `condition_number` like CONCAT('%',#{searchTxt},'%'))
        </if>
        order by `update_time` desc
    </select>

    <select id="getScoreByConditionType"  resultType="com.br.marketing.vo.ConditionOfScoreVO">
        select a.`id`,a.`name`,a.`content`,a.`content_show`,a.`score_content`,a.`condition_number`
        from b_score_search_condition as a
                 join b_score_search_condition_mapping as b on a.id = b.condition_id
        where a.condition_type = #{conditionType}
          and a.`status` = 1 and a.`is_del` = 1
          and b.api_code=#{apiCode}
          and b.rule_label=#{ruleLabel} and b.is_del=1
    </select>
</mapper>