<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.ShuheBlackPhoneRecordMapper">

    <select id="countByPhoneAndDate" resultType="java.lang.Integer">
        select count(*)
        from b_shuhe_black_phone_record
        where phone = #{phone}
          and push_date = #{pushDate}
    </select>

    <insert id="saveBatch" parameterType="list">
        insert into b_shuhe_black_phone_record
        (api_code,cust_num,phone,
        user_type,`type`,orgName,
        `source`,push_date,p_status,
        create_time,update_time)
        values
        <foreach collection="list" item="data" separator=",">
            (#{data.apiCode,jdbcType=VARCHAR}, #{data.custNum,jdbcType=VARCHAR}, #{data.phone,jdbcType=VARCHAR},
            #{data.userType,jdbcType=VARCHAR}, #{data.type,jdbcType=VARCHAR}, #{data.orgname,jdbcType=VARCHAR},
            #{data.source,jdbcType=VARCHAR}, #{data.pushDate,jdbcType=VARCHAR}, #{data.pStatus,jdbcType=INTEGER},
            #{data.createTime,jdbcType=TIMESTAMP}, #{data.updateTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>

    <select id="fendCellByCell" resultType="java.util.Set">
        select cell
        from tmp_case_shuhe_non_black_list
        where
        cell in
        <foreach collection="cellSet" item="cell" separator="," open="(" close=")">
            '${cell}'
        </foreach>
        and is_delete=0
    </select>

    <select id="countTmpNonBlackListByCell" resultType="java.lang.Integer">
        select count(*)
        from tmp_case_shuhe_non_black_list
        where cell = '${cell}'
          and is_delete = 0
    </select>

</mapper>