<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.SmsVendorInfoNormalMapper" >

    <select id="selectList" resultType="com.br.marketing.entity.SmsVendorInfoNormal">
        SELECT
            id, vendor_id, vendor_name, create_time, update_time, ope_status, ope_time, is_delete
        FROM
            b_marketing_sms_vendor_info_normal
        WHERE is_delete = 0
    </select>

    <select id="selectByVendorId" resultType="com.br.marketing.entity.SmsVendorInfoNormal">
        SELECT
            id, vendor_id, vendor_name, create_time, update_time, ope_status, ope_time, is_delete
        FROM
            b_marketing_sms_vendor_info_normal
        WHERE
            vendor_id =#{vendorId} and ope_status in (0,2) and is_delete =0
    </select>

    <update id="updateInfoById">
        UPDATE
            b_marketing_sms_vendor_info_normal
        SET vendor_name = #{vendorName},ope_status=#{opeStatus},ope_time=now()
        WHERE
            id = #{vendorPrimaryId}
    </update>

</mapper>