<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.TcyrCpaCollidingDataPackageMapper" >
  <update id="batchUpdatePackageMagnitude">
    UPDATE b_tcyr_cpa_colliding_data_package
    SET
    magnitude = CASE id
    <foreach collection="updPkgs" item="item">
      WHEN #{item.id} THEN #{item.magnitude}
    </foreach>
    END,
    update_time = NOW()
    WHERE id IN
    <foreach collection="updPkgs" item="item" open="(" separator="," close=")">
      #{item.id}
    </foreach>
  </update>

  <select id="queryPackageInfo" resultType="com.br.marketing.entity.TcyrCpaCollidingDataPackage">
    select id, package_name, magnitude
    from b_tcyr_cpa_colliding_data_package
    where clean_status = 2 and is_del = 1
  </select>

  <select id="queryPackageIdstikv_" resultType="java.lang.Long">
    select id
    from b_tcyr_cpa_colliding_data_package
    where clean_status = 2 and is_del = 1
  </select>

  <select id="selectByCondition" resultType="com.br.marketing.entity.TcyrCpaCollidingDataPackage">
    select <include refid="Base_Column_List"/>
    from b_tcyr_cpa_colliding_data_package
    where is_del = 1
    <if test="packageName != null and packageName != ''">
      and package_name like concat('%',#{packageName},'%')
    </if>
    <if test="enabled != null">
      and enabled = #{enabled}
    </if>
    order by update_time desc
  </select>

  <select id="queryPackageNamesByIds" resultType="java.lang.String">
    SELECT
    GROUP_CONCAT(package_name ORDER BY priority ASC, create_time ASC SEPARATOR ',') AS package_names
    FROM b_tcyr_cpa_colliding_data_package
    WHERE id IN
    <foreach collection="packageIds" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
    AND is_del = 1
    ORDER BY priority ASC, create_time ASC
  </select>

  <select id="orderByPriority" resultType="java.lang.Long">
    SELECT id
    FROM b_tcyr_cpa_colliding_data_package
    WHERE id IN
    <foreach collection="packageIds" item="packageId" open="(" separator="," close=")">
      #{packageId}
    </foreach>
      AND is_del = 1
      AND enabled = 1
    ORDER BY
      priority asc,
      create_time DESC;
  </select>

</mapper>