<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.TcyrCpaInvalueDataMapper">

    <insert id="batchSave">
        insert into b_tcyr_cpa_invalue_data (task_id, user_key, fail_msg, release_time, extend)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.taskId}, #{item.userKey}, #{item.failMsg},#{item.releaseTime},#{item.extend})
        </foreach>
    </insert>

    <select id="queryMagnitudeWithFailMsg" resultType="com.br.marketing.entity.TcyrCpaMagnitude">
        SELECT DATE(release_time) AS releaseTime, fail_msg AS failMsg, count(0) AS magnitude
        FROM b_tcyr_cpa_invalue_data
        WHERE is_del = 1
        AND fail_msg = #{failMsg,jdbcType=VARCHAR}
        AND DATE(release_time) IN
        <foreach collection="releaseTimes" item="releaseTime" open="(" separator="," close=")">
            #{releaseTime}
        </foreach>
        GROUP BY DATE(release_time)
        ORDER BY releaseTime
    </select>

</mapper>