<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.VariableAllocationMapper" >
  <resultMap id="BaseResultMap" type="com.br.marketing.entity.VariableAllocation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="api_code" property="apiCode" jdbcType="VARCHAR" />
    <result column="allocation_type" property="allocationType" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.br.marketing.entity.VariableAllocation" extends="BaseResultMap" >
    <result column="allocation_value" property="allocationValue" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, api_code, allocation_type, create_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    allocation_value
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.br.marketing.entity.VariableAllocationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from variable_allocation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.br.marketing.entity.VariableAllocationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from variable_allocation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from variable_allocation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from variable_allocation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.br.marketing.entity.VariableAllocationExample" >
    delete from variable_allocation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.br.marketing.entity.VariableAllocation" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into variable_allocation (api_code, allocation_type, create_time,
    update_time, allocation_value)
    values (#{apiCode,jdbcType=VARCHAR}, #{allocationType,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
    #{updateTime,jdbcType=TIMESTAMP}, #{allocationValue,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.br.marketing.entity.VariableAllocation" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into variable_allocation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="apiCode != null" >
        api_code,
      </if>
      <if test="allocationType != null" >
        allocation_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="allocationValue != null" >
        allocation_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="apiCode != null" >
        #{apiCode,jdbcType=VARCHAR},
      </if>
      <if test="allocationType != null" >
        #{allocationType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="allocationValue != null" >
        #{allocationValue,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.br.marketing.entity.VariableAllocationExample" resultType="java.lang.Integer" >
    select count(*) from variable_allocation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update variable_allocation
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.apiCode != null" >
        api_code = #{record.apiCode,jdbcType=VARCHAR},
      </if>
      <if test="record.allocationType != null" >
        allocation_type = #{record.allocationType,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.allocationValue != null" >
        allocation_value = #{record.allocationValue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update variable_allocation
    set id = #{record.id,jdbcType=INTEGER},
    api_code = #{record.apiCode,jdbcType=VARCHAR},
    allocation_type = #{record.allocationType,jdbcType=VARCHAR},
    create_time = #{record.createTime,jdbcType=TIMESTAMP},
    update_time = #{record.updateTime,jdbcType=TIMESTAMP},
    allocation_value = #{record.allocationValue,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update variable_allocation
    set id = #{record.id,jdbcType=INTEGER},
    api_code = #{record.apiCode,jdbcType=VARCHAR},
    allocation_type = #{record.allocationType,jdbcType=VARCHAR},
    create_time = #{record.createTime,jdbcType=TIMESTAMP},
    update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.br.marketing.entity.VariableAllocation" >
    update variable_allocation
    <set >
      <if test="apiCode != null" >
        api_code = #{apiCode,jdbcType=VARCHAR},
      </if>
      <if test="allocationType != null" >
        allocation_type = #{allocationType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="allocationValue != null" >
        allocation_value = #{allocationValue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.br.marketing.entity.VariableAllocation" >
    update variable_allocation
    set api_code = #{apiCode,jdbcType=VARCHAR},
        allocation_type = #{allocationType,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        allocation_value = #{allocationValue,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.br.marketing.entity.VariableAllocation" >
    update variable_allocation
    set api_code = #{apiCode,jdbcType=VARCHAR},
        allocation_type = #{allocationType,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getVariableList" resultType="com.br.marketing.entity.VariableAllocation">
    select
    id,
    api_code ,
    allocation_type as allocationType,
    allocation_value as allocationValue
    from variable_allocation
    where
      api_code = #{apiCode,jdbcType=VARCHAR}
      and allocation_type = #{dataType,jdbcType=VARCHAR}
    order by create_time desc
  </select>

  <select id="getVariable" resultType="com.br.marketing.entity.VariableAllocation">
    select
    id,
    api_code as apiCode,
    allocation_type as allocationType,
    allocation_value as allocationValue
    from variable_allocation
    where
    <if test="apiCode != null">
      api_code = #{apiCode,jdbcType=VARCHAR}
    </if>
    <if test="dataType != null">
      and allocation_type = #{dataType,jdbcType=VARCHAR}
    </if>
    order by create_time desc
  </select>

  <select id="getVariableAllocationVOtiflash_" resultType="com.br.marketing.vo.VariableAllocationVO">
    select count(cell_sha256_code_list) as releaseTimeNum
    ,max(release_time) as requestEndTime
    ,min(release_time) as requestTime
    from b_xiecheng_colliding_data_loop_cycle
    <where>
      DATE_FORMAT(release_time, '%Y-%m-%d') = #{releaseTime}
      and is_delete = 0
    </where>
  </select>

  <update id="updateByPrimaryMutchKeySelective" parameterType="com.br.marketing.vo.VariableAllocationVO" >
    update variable_allocation
    <set >
      <if test="apiCode != null" >
        api_code = #{apiCode,jdbcType=VARCHAR},
      </if>
      <if test="allocationType != null" >
        allocation_type = #{allocationType,jdbcType=VARCHAR},
      </if>
      <if test="allocationValue != null" >
        allocation_value = #{allocationValue,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>