<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.WubaCollidingDataSyncCleanMapper">
    <insert id="batchSaveData">
        INSERT INTO b_wuba_colliding_data_sync_clean (cell,batch_no,api_code,task_id,extend)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.cell},#{batchNo},#{apiCode},#{taskId},#{item.extend})
        </foreach>
    </insert>
</mapper>