<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.WubaCollidingDataLoopCycleMapper">
    <insert id="batchSaveData">
        INSERT INTO b_wuba_colliding_data_loop_cycle (cell,push_time,api_code,data_source_type)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item}, now(), #{apiCode}, #{dataSourceType})
        </foreach>
    </insert>

    <select id="selectCollidingData" resultType="com.br.marketing.entity.WubaCollidingData">
        select id, cell
        from b_wuba_colliding_data_loop_cycle
        where is_deleted = 0
          and api_code = #{apiCode}
          <![CDATA[ and push_time >= #{pushTimeStart} and push_time < #{pushTimeEnd} ]]>
        order by push_time
        limit #{pageSize}
    </select>

    <update id="batchUpdatePushTimeById">
        update b_wuba_colliding_data_loop_cycle set push_time = now()
        where id in
        <foreach collection="datas" item="data" open="(" close=")" separator=",">
            #{data.id}
        </foreach>
    </update>

    <update id="batchDeleteByCell">
        update b_wuba_colliding_data_loop_cycle set is_deleted = 1
        where api_code = #{apiCode} and cell in
        <foreach collection="cells" item="cell" open="(" close=")" separator=",">
            #{cell}
        </foreach>
    </update>

    <select id="selectDuplicateData" resultType="java.lang.String">
        select cell
        from b_wuba_colliding_data_loop_cycle
        where is_deleted = 0 and api_code = #{apiCode}
        and cell in
        <foreach collection="list" item="cell" open="(" close=")" separator=",">
            #{cell}
        </foreach>
    </select>
</mapper>