<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.br.marketing.mapper.XiechengSmsQuitDataMapper">


    <select id="getSmsQuitData" resultType="com.br.marketing.entity.XiechengSmsQuitData">
        select
        *
        from b_xiecheng_sms_quit_data
        where local_id = #{localId}
        and status =1 and push_status =1
        <if test="dataId != null and dataId>0">
            and id > #{dataId}
        </if>
        order by id asc limit 2000;
    </select>

    <select id="getCountSmsQuitDataByMobile" resultType="java.lang.Integer">
        select
        count(*)
        from b_xiecheng_sms_quit_data
        where cipher_mobile = #{mobile}
        and status =1;
    </select>
</mapper>