<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.XieChengBlackListMapper">
    <resultMap id="BaseResultMap" type="com.br.marketing.entity.XieChengBlackList">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="phone_num_encoded" property="phoneNumEncoded" jdbcType="VARCHAR"/>
        <result column="label_name" property="labelName" jdbcType="VARCHAR"/>
        <result column="label_type" property="labelType" jdbcType="INTEGER"/>
        <result column="cell_sha256" property="cellSha256" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, phone_num_encoded, label_name, label_type, cell_sha256, `status`
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.br.marketing.entity.XieChengBlackListExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from b_xiecheng_colliding_data_black_list
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from b_xiecheng_colliding_data_black_list
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from b_xiecheng_colliding_data_black_list
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.br.marketing.entity.XieChengBlackListExample">
        delete from b_xiecheng_colliding_data_black_list
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.br.marketing.entity.XieChengBlackList">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into b_xiecheng_colliding_data_black_list (phone_num_encoded, label_name, label_type,
        cell_sha256, `status`)
        values (#{phoneNumEncoded,jdbcType=VARCHAR}, #{labelName,jdbcType=VARCHAR}, #{labelType,jdbcType=INTEGER},
        #{cellSha256,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.br.marketing.entity.XieChengBlackList">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into b_xiecheng_colliding_data_black_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phoneNumEncoded != null">
                phone_num_encoded,
            </if>
            <if test="labelName != null">
                label_name,
            </if>
            <if test="labelType != null">
                label_type,
            </if>
            <if test="cellSha256 != null">
                cell_sha256,
            </if>
            <if test="status != null">
                `status`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="phoneNumEncoded != null">
                #{phoneNumEncoded,jdbcType=VARCHAR},
            </if>
            <if test="labelName != null">
                #{labelName,jdbcType=VARCHAR},
            </if>
            <if test="labelType != null">
                #{labelType,jdbcType=INTEGER},
            </if>
            <if test="cellSha256 != null">
                #{cellSha256,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.br.marketing.entity.XieChengBlackListExample"
            resultType="java.lang.Integer">
        select count(*) from b_xiecheng_colliding_data_black_list
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update b_xiecheng_colliding_data_black_list
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.phoneNumEncoded != null">
                phone_num_encoded = #{record.phoneNumEncoded,jdbcType=VARCHAR},
            </if>
            <if test="record.labelName != null">
                label_name = #{record.labelName,jdbcType=VARCHAR},
            </if>
            <if test="record.labelType != null">
                label_type = #{record.labelType,jdbcType=INTEGER},
            </if>
            <if test="record.cellSha256 != null">
                cell_sha256 = #{record.cellSha256,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                `status` = #{record.status,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update b_xiecheng_colliding_data_black_list
        set id = #{record.id,jdbcType=BIGINT},
        phone_num_encoded = #{record.phoneNumEncoded,jdbcType=VARCHAR},
        label_name = #{record.labelName,jdbcType=VARCHAR},
        label_type = #{record.labelType,jdbcType=INTEGER},
        cell_sha256 = #{record.cellSha256,jdbcType=VARCHAR},
        `status` = #{record.status,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.br.marketing.entity.XieChengBlackList">
        update b_xiecheng_colliding_data_black_list
        <set>
            <if test="phoneNumEncoded != null">
                phone_num_encoded = #{phoneNumEncoded,jdbcType=VARCHAR},
            </if>
            <if test="labelName != null">
                label_name = #{labelName,jdbcType=VARCHAR},
            </if>
            <if test="labelType != null">
                label_type = #{labelType,jdbcType=INTEGER},
            </if>
            <if test="cellSha256 != null">
                cell_sha256 = #{cellSha256,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.br.marketing.entity.XieChengBlackList">
        update b_xiecheng_colliding_data_black_list
        set phone_num_encoded = #{phoneNumEncoded,jdbcType=VARCHAR},
        label_name = #{labelName,jdbcType=VARCHAR},
        label_type = #{labelType,jdbcType=INTEGER},
        cell_sha256 = #{cellSha256,jdbcType=VARCHAR},
        status = #{status,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPage" resultType="com.br.marketing.entity.XieChengBlackList">
        select
        <include refid="Base_Column_List"/>
        from b_xiecheng_colliding_data_black_list
        where status = 0
        <if test="minId != null and minId>0">
            and id > #{minId}
        </if>
        order by id limit #{pageSize};
    </select>

    <select id="selectCellsByPage" parameterType="java.lang.String" resultType="com.br.marketing.entity.XieChengBlackList">
        select
        *
        from b_xiecheng_colliding_data_black_list
        where status = 1  and label_type in(1,2)
        <if test="minId != null and minId>0">
            and id > #{minId}
        </if>
        order by id limit #{pageSize};
    </select>

    <select id="selectByBlackListIdsFromScoreFiletikv_" parameterType="java.lang.String" resultType="java.lang.String">
        ${querySql}
    </select>

    <select id="selectIdsByBatchNumberAndCondition" resultType="java.lang.Long">
        select dt.id
        from ${delTableName} dt
            inner join b_xiecheng_colliding_data_black_list black on dt.cell_sha256_code_list = black.cell_sha256
            <if test="batchNumber != null and batchNumber != ''">
                inner join b_xiecheng_colliding_${batchNumber} score on dt.cell_sha256_code_list = score.cell
            </if>
        where dt.is_delete = 0
          and black.status = 1
          and black.label_type = #{labelType}
          <if test="batchNumber != null and batchNumber != '' and condition != null and condition != ''">
              and score.is_delete = 0
              and (${condition})
          </if>
          <if test="minId != null and minId>0">
              and dt.id > #{minId}
          </if>
        order by dt.id limit 2000;
    </select>

    <update id="updateIsDeleteByIds">
        update ${delTableName}
        set is_delete = 1, update_time = now(), extend = #{extend}
        where is_delete = 0
        and id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>