<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.XieChengCollidingDataPackageMapper">

    <select id="getPackageList" resultType="com.br.marketing.vo.xiecheng.XiechengPackageVO">
        select pkg.id, pkg.package_name, pkg.colliding_data_task_id, pkg.priority, dpt.api_code
        from b_xiecheng_colliding_data_package pkg
                 join b_xiecheng_colliding_data_process_task dpt on pkg.colliding_data_task_id = dpt.id
        where pkg.is_delete = 0
        order by pkg.create_time desc;
    </select>

</mapper>