<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.XieChengCpsCollidingDataLogMapper" >
    <select id="selectLatestCpsLog" resultType="com.br.marketing.entity.XieChengCpsCollidingDataLog">
        select release_time, org_channel from b_xiecheng_cps_colliding_data_log
        where cell_sha256_code_list = #{sha256Tel}
          and release_time >= NOW()
          and result = 1 and is_delete = 0
        order by release_time desc limit 1
    </select>
    
    <!-- 批量插入撞库日志 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO b_xiecheng_cps_colliding_data_log 
        (idempotent_key, data_id, package_id, data_source_type, cell_sha256_code_list, 
         release_time, result, info, org_channel, mkt_level, hit_request_no, 
         http_code, business_code, return_content, extend)
        VALUES
        <foreach collection="collidingLogs" item="item" separator=",">
            (#{item.idempotentKey}, #{item.dataId}, #{item.packageId}, #{item.dataSourceType}, 
             #{item.cellSha256CodeList}, #{item.releaseTime}, #{item.result}, #{item.info}, 
             #{item.orgChannel}, #{item.mktLevel}, #{item.hitRequestNo}, #{item.httpCode}, 
             #{item.businessCode}, #{item.returnContent}, #{item.extend})
        </foreach>
    </insert>
</mapper>