<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.XiechengCollidingTaskBatchMapper" >
  <resultMap id="BaseResultMap" type="com.br.marketing.entity.XiechengCollidingTaskBatch" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="api_code" property="apiCode" jdbcType="VARCHAR" />
    <result column="colliding_data_task_id" property="collidingDataTaskId" jdbcType="BIGINT" />
    <result column="batch_number" property="batchNumber" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="actual_number" property="actualNumber" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, api_code, colliding_data_task_id, batch_number, `type`, `status`, actual_number,
    is_delete, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.br.marketing.entity.XiechengCollidingTaskBatchExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_xiecheng_colliding_task_batch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from b_xiecheng_colliding_task_batch
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from b_xiecheng_colliding_task_batch
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.br.marketing.entity.XiechengCollidingTaskBatchExample" >
    delete from b_xiecheng_colliding_task_batch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.br.marketing.entity.XiechengCollidingTaskBatch" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into b_xiecheng_colliding_task_batch (api_code, colliding_data_task_id, batch_number,
    `type`, `status`, actual_number,
    is_delete, create_time, update_time
    )
    values (#{apiCode,jdbcType=VARCHAR}, #{collidingDataTaskId,jdbcType=BIGINT}, #{batchNumber,jdbcType=VARCHAR},
    #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{actualNumber,jdbcType=INTEGER},
    #{isDelete,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.br.marketing.entity.XiechengCollidingTaskBatch" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into b_xiecheng_colliding_task_batch
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="apiCode != null" >
        api_code,
      </if>
      <if test="collidingDataTaskId != null" >
        colliding_data_task_id,
      </if>
      <if test="batchNumber != null" >
        batch_number,
      </if>
      <if test="type != null" >
        `type`,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="actualNumber != null" >
        actual_number,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="apiCode != null" >
        #{apiCode,jdbcType=VARCHAR},
      </if>
      <if test="collidingDataTaskId != null" >
        #{collidingDataTaskId,jdbcType=BIGINT},
      </if>
      <if test="batchNumber != null" >
        #{batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="actualNumber != null" >
        #{actualNumber,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.br.marketing.entity.XiechengCollidingTaskBatchExample" resultType="java.lang.Integer" >
    select count(*) from b_xiecheng_colliding_task_batch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update b_xiecheng_colliding_task_batch
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.apiCode != null" >
        api_code = #{record.apiCode,jdbcType=VARCHAR},
      </if>
      <if test="record.collidingDataTaskId != null" >
        colliding_data_task_id = #{record.collidingDataTaskId,jdbcType=BIGINT},
      </if>
      <if test="record.batchNumber != null" >
        batch_number = #{record.batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        `type` = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        `status` = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.actualNumber != null" >
        actual_number = #{record.actualNumber,jdbcType=INTEGER},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update b_xiecheng_colliding_task_batch
    set id = #{record.id,jdbcType=BIGINT},
    api_code = #{record.apiCode,jdbcType=VARCHAR},
    colliding_data_task_id = #{record.collidingDataTaskId,jdbcType=BIGINT},
    batch_number = #{record.batchNumber,jdbcType=VARCHAR},
    `type` = #{record.type,jdbcType=INTEGER},
    `status` = #{record.status,jdbcType=INTEGER},
    actual_number = #{record.actualNumber,jdbcType=INTEGER},
    is_delete = #{record.isDelete,jdbcType=INTEGER},
    create_time = #{record.createTime,jdbcType=TIMESTAMP},
    update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.br.marketing.entity.XiechengCollidingTaskBatch" >
    update b_xiecheng_colliding_task_batch
    <set >
      <if test="apiCode != null" >
        api_code = #{apiCode,jdbcType=VARCHAR},
      </if>
      <if test="collidingDataTaskId != null" >
        colliding_data_task_id = #{collidingDataTaskId,jdbcType=BIGINT},
      </if>
      <if test="batchNumber != null" >
        batch_number = #{batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="actualNumber != null" >
        actual_number = #{actualNumber,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.br.marketing.entity.XiechengCollidingTaskBatch" >
    update b_xiecheng_colliding_task_batch
    set api_code = #{apiCode,jdbcType=VARCHAR},
        colliding_data_task_id = #{collidingDataTaskId,jdbcType=BIGINT},
        batch_number = #{batchNumber,jdbcType=VARCHAR},
        `type` = #{type,jdbcType=INTEGER},
        `status` = #{status,jdbcType=INTEGER},
        actual_number = #{actualNumber,jdbcType=INTEGER},
        is_delete = #{isDelete,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <resultMap id="xiechengCollidingTaskBatchVOMap" type="com.br.marketing.vo.XiechengCollidingTaskBatchVo">
    <result column="releaseTimeBegin" property="releaseTimeBegin"
            jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"
            typeHandler="com.br.marketing.config.LocalDateTimeHandler"/>
    <result column="releaseTimeEnd" property="releaseTimeEnd"
            jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"
            typeHandler="com.br.marketing.config.LocalDateTimeHandler"/>

  </resultMap>

  <select id="selectEarliestBatch" resultMap="xiechengCollidingTaskBatchVOMap" >
    select batch.id as id,
           batch.api_code as apiCode,
           batch.batch_number as batchNumber,
           batch.type as type,
           batch.colliding_data_task_id as collidingDataTaskId,
           task.task_execution_conditions as taskExecutionConditions,
           task.task_status as taskStatus,
           task.release_time_begin as releaseTimeBegin,
           task.release_time_end as releaseTimeEnd,
           batch.create_time as createTime
    from b_xiecheng_colliding_task_batch batch
    inner join b_xiecheng_colliding_data_process_task task
        on batch.colliding_data_task_id = task.id
    where batch.api_code = #{apiCode}
      and batch.status = 0
      and batch.type = #{type}
      and task.task_start_time = #{nowDate}
      and task.is_delete = 0
      and batch.is_delete = 0
      <![CDATA[ and batch.create_time < DATE_SUB(NOW(), INTERVAL 30 MINUTE) ]]>
    order by createTime asc, releaseTimeBegin asc limit 1
  </select>
</mapper>