<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.XieChengCollidingDataRobMapper">
    <select id="getRobCollidingDataList" resultType="com.br.marketing.entity.XieChengCollidingDataRob">
        SELECT rob.id,
               rob.cell_sha256_code_list,
               rob.package_id,
               #{packageRuleId,jdbcType=BIGINT} as packageRuleId,
               rob.retry_count,
               rob.colliding_count
        FROM b_xiecheng_colliding_data_rob rob
        WHERE rob.package_id = #{packageId,jdbcType=BIGINT}
          AND rob.is_delete = 0 AND retry_count = 0
          AND rob.colliding_count <![CDATA[ < ]]> #{collidingTimes,jdbcType=INTEGER}
        ORDER BY IF(rob.push_time IS NULL, 0, 1),
                 rob.push_time
        limit #{pageSize,jdbcType=INTEGER}
    </select>
    <select id="selectDeleteData" resultType="com.br.marketing.entity.XieChengCollidingDataRob">
        select *
        from b_xiecheng_colliding_data_rob
        where is_delete = 1
            <![CDATA[ and push_time < #{startTime}]]>
        order by push_time asc limit #{size};
    </select>

    <delete id="deleteByIdList">
        delete
        from b_xiecheng_colliding_data_rob
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        limit #{size};
    </delete>
    <update id="updateBatchByIdToIsDeleted">
        update b_xiecheng_colliding_data_rob set is_delete = 1,update_time = now(),extend = #{rollbackFlag} where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="batchUpdateRobBlackListData" parameterType="java.util.List">
        update
        b_xiecheng_colliding_data_rob
        set
        extend = #{extend},
        is_delete = 1,
        update_time = now()
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item,jdbcType=BIGINT}
        </foreach>
        and is_delete = 0
    </update>

    <insert id="saveBatch" parameterType="list">
        insert into b_xiecheng_colliding_data_rob (package_id, data_source_type, cell_sha256_code_list,
                                                   create_time, update_time)values
        <foreach collection="list" item="data" separator=",">
            (#{data.packageId}, #{data.dataSourceType}, #{data.cellSha256CodeList},
             now(), now())
        </foreach>
    </insert>

    <update id="batchUpdatePushTime">
        update b_xiecheng_colliding_data_rob
        set push_time = now()
        where id in
        <foreach collection="robDataList" item="robData" open="(" separator="," close=")">
            #{robData.id}
        </foreach>
    </update>
    <select id="robCelltiflash_" resultType="java.lang.Long">
        select id from b_xiecheng_colliding_data_rob where is_delete = 0 limit #{xieChengCleanCount}
    </select>

    <select id="selectRobByRetryCount" resultType="com.br.marketing.entity.XieChengCollidingDataRob">
        select
        *
        from b_xiecheng_colliding_data_rob
        where is_delete = 0
        <if test="isLast != null and isLast">
            and retry_count = 3
        </if>
        <if test="isLast != null and !isLast">
            <![CDATA[ and retry_count > 0 and retry_count < 3]]>
        </if>
        <if test="minId != null and minId>0">
            and id > #{minId}
        </if>
        order by id asc limit #{pageSize};
    </select>

    <select id="countByCollidingCounttiflash_" resultType="java.lang.Integer">
        SELECT count(*)
        FROM b_xiecheng_colliding_data_rob
        WHERE package_id = #{packageId,jdbcType=BIGINT}
          AND is_delete = 0
          AND retry_count =0
          AND colliding_count <![CDATA[ < ]]> #{collidingTimes,jdbcType=INTEGER};
    </select>

    <select id="selectRobDataByRuleScoreData" resultType="com.br.marketing.entity.XieChengCollidingDataRobPriority">
        select a.id, a.package_id, a.cell_sha256_code_list, b.priority
        from b_xiecheng_colliding_data_rob a
        join b_xiecheng_colliding_data_package b on a.package_id = b.id
        where a.is_delete = 0
        and b.is_delete = 0
        and cell_sha256_code_list in
        <foreach collection="cells" item="cell" open="(" separator="," close=")">
            #{cell}
        </foreach>
    </select>


    <select id="selectMaxCollidingEndTimeGroupByCell" resultType="com.br.marketing.entity.XieChengCollidingDataRobPriority">
        select a.cell_sha256_code_list, max(c.colliding_end_time)
        from b_xiecheng_colliding_data_rob a
                 join b_xiecheng_colliding_data_package b on b.id = a.package_id
                 join b_xiecheng_colliding_data_package_rule c on b.id = c.package_id
        where a.is_delete = 0 and b.is_delete = 0 and c.is_delete = 0
        and a.cell_sha256_code_list in
        <foreach collection="cells" item="cell" open="(" separator="," close=")">
            #{cell}
        </foreach>
        group by a.cell_sha256_code_list
    </select>

    <update id="updateDeleteByIds">
        update b_xiecheng_colliding_data_rob set is_delete = 1,update_time = now(),extend = #{extend}
        where is_delete = 0 and id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="selectCountFromRobByNewPackageId" resultType="java.lang.Long">
        select count(1)
        from b_xiecheng_colliding_data_rob
        where is_delete = 0 and package_id = #{packageId}
    </select>

    <update id="batchResetCollidingCount">
        update b_xiecheng_colliding_data_rob
        set colliding_count = 0
        where colliding_count != 0
          and is_delete = 0
        limit 20000
    </update>

    <update id="batchDeleteRobDataByPackageId">
        update b_xiecheng_colliding_data_rob
        set is_delete = 1
        where package_id = #{packageId}
          and is_delete = 0
        limit #{limit}
    </update>

    <select id="selectRemainingNumberstiflash_" resultType="java.util.Map">
        SELECT package_id as packageId, COUNT(*) AS remainingNumber
        FROM b_xiecheng_colliding_data_rob
        WHERE is_delete = 0
        GROUP BY package_id;
    </select>

    <update id="batchDeleteExcludeCollidingData">
        update b_xiecheng_colliding_data_rob
        set is_delete   = 1,
            update_time = now(),
            extend      = #{extend}
        where is_delete = 0
          and cell_sha256_code_list in
        <foreach collection="excludeData" item="cell_sha256_code_list" open="(" separator="," close=")">
            #{cell_sha256_code_list}
        </foreach>
    </update>

    <insert id="batchSaveFalseDynamicData">
        INSERT INTO b_xiecheng_colliding_data_rob (package_id, data_source_type, cell_sha256_code_list)
        VALUES
        <foreach collection="robs" item="item" separator=",">
            (#{item.packageId},
            #{item.dataSourceType},
            #{item.cellSha256CodeList})
        </foreach>
    </insert>

    <select id="selectRobsByNonRoundPackages" resultType="java.lang.Long">
        select id
        from b_xiecheng_colliding_data_rob
        where is_delete = 0 and colliding_count > 0 and package_id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item.id}
        </foreach>
        <if test="minId != null and minId>0">
            and id > #{minId}
        </if>
        order by id limit 100000
    </select>

    <update id="batchResetCollidingCountByIds">
        update b_xiecheng_colliding_data_rob
        set colliding_count = 0
        where id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <select id="selectCountByRoundPackagestiflash_" resultType="java.lang.Long">
        select count(1)
        from b_xiecheng_colliding_data_rob
        where is_delete = 0 and colliding_count = 0 and retry_count = 0
        and package_id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item.id}
        </foreach>
    </select>

    <select id="selectIdsOfDynaFalseDataProcessTasktikv_" resultType="java.lang.Long">
        select a.id
        from b_xiecheng_colliding_data_rob a
        join ${tableName} c on a.cell_sha256_code_list = c.cell and c.is_delete = 0
        left join ( ${queryRuleScoreDataSql} ) b on c.cell = b.cell and b.is_delete = 0
        where a.is_delete = 0 and b.id is null
        and a.package_id = 120007
        <if test="minId != null and minId>0">
            and a.id > #{minId}
        </if>
        order by a.id limit #{pageSize};
    </select>
    <select id="selectRobPublicBlackListIdsByPage" parameterType="java.lang.String" resultType="java.lang.Long">
        select a.id from b_xiecheng_colliding_data_black_list b
        join b_xiecheng_colliding_data_rob a on a.cell_sha256_code_list = b.cell_sha256 and b.label_type = #{type}
        and b.status = 1
        where a.is_delete = 0
        <if test="minId != null and minId>0">
            and a.id > #{minId}
        </if>
        order by a.id limit #{pageSize};
    </select>
    
    <update id="batchUpdateNoPublicBlackListZYData" parameterType="java.util.List">
        update
        b_xiecheng_colliding_data_rob
        set
        extend = #{extend},
        is_delete = 1,
        update_time = now()
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item,jdbcType=BIGINT}
        </foreach>
        and is_delete = 0
    </update>

    <update id="batchUpdateRobNoPublicBlackListData">
        update
        b_xiecheng_colliding_data_rob
        set
        extend = CONCAT(CURDATE(),#{labelName}),
        is_delete = 1,
        update_time = now()
        where cell_sha256_code_list =
        #{cellSha256}
        and is_delete = 0
    </update>

    <select id="searchRobDeleteCountByExtend" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(0) from b_xiecheng_colliding_data_rob where extend = #{extend}
    </select>

    <select id="getFirstRobDataPush" resultType="com.br.marketing.entity.XieChengCollidingDataRob">
        select * from b_xiecheng_colliding_data_rob where is_delete =0  and package_id = #{packageId}
        and (push_time is null or date(now()) > date(push_time)) and retry_count =0 order by push_time asc
        limit #{pageSize,jdbcType=INTEGER}
    </select>

    <select id="getMoreRobDataPush" resultType="com.br.marketing.entity.XieChengCollidingDataRob">
        select * from b_xiecheng_colliding_data_rob where is_delete =0  and package_id = #{packageId}
        and #{collidingCount} > colliding_count  and retry_count =0  order by push_time asc
        limit #{pageSize,jdbcType=INTEGER}
    </select>

    <select id="getPackageCounttiflash_" resultType="int">
        select count(1) from b_xiecheng_colliding_data_rob where is_delete = 1 and push_time > date(now())
        and package_id  =#{packageId}
    </select>
</mapper>