<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.XieChengReportHandlerConfigMapper" >

    <select id="selectHandlerNameByBizForm" resultType="java.lang.String">
        select handler_names from b_xiecheng_report_handler_config
        where is_delete = 0
        <if test="bizForm !=null and bizForm!=''">
            and biz_form = #{bizForm}
        </if>
    </select>
</mapper>