<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.br.marketing.mapper.ZhiJiaClueBackDataMapper">
    <update id="updateBatchById">
        update b_zhijia_clue_back_data set push_status = #{pushStatus},update_time= now() where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <select id="getBatchById" resultType="com.br.marketing.entity.ZhiJiaClueBackData">
        select * from
        b_zhijia_clue_back_data
        where
        <if test="minId != null and minId >0">
            id >=#{minId} and
        </if>
        local_id = #{localId}  and status =1 and push_status =1
        order by id asc limit #{pageSize};
    </select>
</mapper>