<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.ZhonganRosterLockingDataMapper">


    <select id="getBizDateListtikv_" resultType="java.lang.String">
        select distinct biz_date from b_zhongan_roster_locking_data
        <where>
            <if test="data.apiCode!=null and data.apiCode!=''">
                api_code='${data.apiCode}'
            </if>
            <if test="data.bizDate!=null and data.bizDate!=''">
                and <![CDATA[ biz_date <= '${data.bizDate}' ]]>
            </if>
            <if test="data.tag!=null and data.tag!=''">
                and tag='${data.tag}'
            </if>
            <if test="data.isConnect != null and data.isConnect != ''">
                and is_connect = '${data.isConnect}'
            </if>
            <if test="data.pushStatus!=null and data.pushStatus!=''">
                and push_status=${data.pushStatus}
            </if>
            and status=1 order by biz_date
        </where>
    </select>

    <select id="findPartColumnListPage" resultType="com.br.marketing.entity.ZhonganRosterLockingData">
        select t1.id,mobile_md5,biz_date,tag,data_source,local_id,api_code,IF(user_type='', '1', user_type) as userType ,is_connect from b_zhongan_roster_locking_data t1,
        (select id from b_zhongan_roster_locking_data
        <where>
            <if test="data.apiCode!=null and data.apiCode!=''">
                api_code='${data.apiCode}'
            </if>
            <if test="data.bizDate!=null and data.bizDate!=''">
                and biz_date='${data.bizDate}'
            </if>
            <if test="data.tag!=null and data.tag!=''">
                and tag='${data.tag}'
            </if>
            <if test="data.dataSource!=null">
                and data_source='${data.dataSource}'
            </if>
            <if test="data.pushStatus!=null and data.pushStatus!=''">
                and push_status=${data.pushStatus}
            </if>
            <if test="data.userType!=null and data.userType!=''">
                and user_type=${data.userType}
            </if>
            <if test="data.isConnect != null and data.isConnect != ''">
                and is_connect = '${data.isConnect}'
            </if>
            and status=1
            <if test="data.id!=null and data.id!=''">
                and id>${data.id}
            </if>
            order by id limit ${pageNo * pageSize},${pageSize}) t2 where t1.id=t2.id
        </where>
    </select>

    <select id="findGroupMobileMd5ListPage" resultType="com.br.marketing.entity.ZhonganRosterLockingData">
        select mobile_md5, biz_date, tag, data_source, local_id, api_code
        from b_zhongan_roster_locking_data
        <where>
            <if test="data.apiCode != null and data.apiCode != ''">
                api_code = '${data.apiCode}'
            </if>
            <if test="data.bizDate != null and data.bizDate != ''">
                and <![CDATA[ biz_date <= '${data.bizDate}']]>
            </if>
            <if test="data.tag != null and data.tag != ''">
                and tag = '${data.tag}'
            </if>
            <if test="data.userType != null and data.userType != ''">
                and user_type = '${data.userType}'
            </if>
            <if test="data.isConnect != null and data.isConnect != ''">
                and is_connect = '${data.isConnect}'
            </if>
            <if test="data.pushStatus != null and data.pushStatus != ''">
                and push_status = ${data.pushStatus}
            </if>
            and status = 1
            group by mobile_md5, biz_date
            order by mobile_md5, biz_date
            limit ${pageNo * pageSize},${pageSize}
        </where>
    </select>

    <select id="getMobileMd5ByBeforePush" resultType="com.br.marketing.entity.ZhonganRosterLockingData">
        select mobile_md5,create_time  from b_zhongan_roster_locking_data
        <where>
            <if test="apiCode!=null and apiCode!=''">
                api_code='${apiCode}'
            </if>
            <if test="tag!=null and tag!=''">
                and tag='${tag}'
            </if>
            and push_status in (2,3)
            and mobile_md5 in
            <foreach collection="queries" item="q" separator="," open="(" close=")">
                #{q.mobileMd5}
            </foreach>
        </where>
    </select>

    <update id="updatePushStatusOrStatus">
        update b_zhongan_roster_locking_data set
        <if test="updatePushStatus != null and updatePushStatus != ''">
            push_status=${updatePushStatus},
        </if>
        <if test="updateStatus != null and updateStatus != ''">
            status=${updateStatus},
        </if>
        update_time=#{date}
        where tag='${tag}' and api_code='${apiCode}' and
        <foreach collection="dataList" item="data" separator=" or " open="(" close=")">
            (mobile_md5='${data.mobileMd5}' and biz_date='${data.bizDate}')
        </foreach>
        and status=1
        <if test="pushStatus != null and pushStatus != ''">
            and push_status=${pushStatus}
        </if>
    </update>

    <select id="getSftpFilePushSuccessSum" resultType="com.br.marketing.dto.SftpFilePushSuccessDTO">
        select count(*) as number, t.local_id as localId
        from (
                 select mobile_md5, local_id, biz_date
                 from b_zhongan_roster_locking_data
                 WHERE api_code = '${apiCode}'
                   and <![CDATA[ update_time >= '${dateStr}' ]]>
                   and <![CDATA[ biz_date <= '${dateStr}' ]]>
                   and push_status = 2
                   and status = 1
                   and data_source = 1
                 group by mobile_md5, local_id, biz_date) as t
        group by t.local_id
    </select>

    <select id="getSftpFileIdList" resultType="java.lang.Long">
        select local_id
        from b_zhongan_roster_locking_data
        WHERE api_code = '${apiCode}'
          and <![CDATA[ biz_date <= '${dateStr}' ]]>
          and push_status = 1
          and status = 1
          and data_source = 1
        group by local_id
    </select>

    <select id="getSftpFileIdListByTags" resultType="java.lang.Long">
        select local_id
        from b_zhongan_roster_locking_data
        WHERE api_code = '${apiCode}'
          and tag in
          <foreach collection="tags" item="tag" open="(" close=")" separator=",">
              #{tag}
          </foreach>
          and push_status = 1
          and status = 1
          and data_source = 1
        group by local_id
    </select>

    <select id="getSftpFileIdListByNoTags" resultType="java.lang.Long">
        select local_id
        from b_zhongan_roster_locking_data
        WHERE api_code = '${apiCode}'
        and <![CDATA[ biz_date <= '${dateStr}' ]]>
        and tag not in
        <foreach collection="tags" item="tag" open="(" close=")" separator=",">
            #{tag}
        </foreach>
        and push_status = 1
        and status = 1
        and data_source = 1
        group by local_id
    </select>

    <select id="getTagByApiCodeBizDateList" resultType="java.lang.String">
        select tag
        from b_zhongan_roster_locking_data
        where api_code = '${apiCode}'
          and <![CDATA[ biz_date <= '${dateStr}' ]]>
          and push_status = 1
          and status = 1
          and data_source = 1
        group by tag
        order by tag;
    </select>

    <select id="getTagsByApiCodeTagList" resultType="java.lang.String">
        select tag
        from b_zhongan_roster_locking_data
        where api_code = '${apiCode}'
        and tag in
        <foreach collection="tags" item="tag" open="(" close=")" separator=",">
            #{tag}
        </foreach>
          and push_status = 1
          and status = 1
          and data_source = 1
        group by tag
        order by tag;
    </select>

    <select id="getTagsByApiCodeBizDateNoTagList" resultType="java.lang.String">
        select tag
        from b_zhongan_roster_locking_data
        where api_code = '${apiCode}'
        and <![CDATA[ biz_date <= '${dateStr}' ]]>
        and tag not in
        <foreach collection="tags" item="tag" open="(" close=")" separator=",">
            #{tag}
        </foreach>
        and push_status = 1
        and status = 1
        and data_source = 1
        group by tag
        order by tag;
    </select>

    <select id="getDuplicateMobileMd5List" resultType="com.br.marketing.entity.ZhonganRosterLockingData">
        select id, push_status
        from b_zhongan_roster_locking_data
        where api_code = '${apiCode}'
          and biz_date = '${dateStr}'
          and tag = '${tag}'
          and mobile_md5 = '${mobileMd5}'
          and status = 1
    </select>
</mapper>