<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.br.marketing.mapper.ZhongbangVoiceFileDetailMapper" >

    <select id="selectPushStatus0Count" resultType="java.lang.Integer">
        select
            count(*)
        from b_zhongbang_voice_file_detail
        where
            create_time>=CURDATE() and push_status=0 and is_deleted=0;
    </select>

    <select id="selectPushStatusCount" resultType="java.lang.Integer">
        select
            count(*)
        from b_zhongbang_voice_file_detail
        where
            create_time>=CURDATE() and is_deleted=0
            <if test="pushStatus != null">
                and push_status=#{pushStatus}
            </if>
            <if test="fileId != null">
                and local_id=#{fileId}
            </if>
    </select>

    <select id="selectDistinctLocalIdtikv_" resultType="java.lang.Long">
        select
            distinct local_id
        from b_zhongbang_voice_file_detail
        where
            create_time>=CURDATE() and is_deleted=0;
    </select>

    <select id="selectByPushStatus1" resultType="com.br.marketing.entity.ZhongbangVoiceFileDetail">
        select
            *
        from b_zhongbang_voice_file_detail
        where
            create_time>=CURDATE() and push_status=1 and is_deleted=0
            <if test="detailId != null">
                and id >#{detailId}
            </if>
        order by id,create_time asc limit 500;
    </select>

    <update id="updateBatchByIds">
        update b_zhongbang_voice_file_detail
        set push_status=#{pushStatus},push_date=#{pushDate}
        where create_time>=CURDATE() and push_status=1 and id in
        <foreach collection = 'idList' item='id' open='(' close=')' separator=','>
            #{id}
        </foreach>
    </update>

</mapper>